<% for(var i=0; i<tickets.length; i++) {%>
    <%if (tickets[i].status == 2) { %> <!-- status:1 = to be asigned -->
        <tr class="quote">
            <td id="">
                <%= tickets[i].id %>
            </td>
            <td id="">
                <%= tickets[i].tms %>
            </td>
            <td id="">
                <%= tickets[i].location %>
            </td>
            <td id="">
                <%= tickets[i].facility %>
            </td>
            <td id="">
                <%= tickets[i].driver_name %>
            </td>
            <td id="">
                <%= tickets[i].product %>
            </td>
            <td id="">
                <%if (tickets[i].substatus == 0) { %>
                    ASSIGNED
                <% } else if(tickets[i].substatus == 1) { %>
                    ON MY WAY TO FACILITY
                <% } else if(tickets[i].substatus == 2) { %>
                    ARRIVED TO FACILITY
                <% } else if(tickets[i].substatus == 3) { %>
                    LOADING
                <% } else if(tickets[i].substatus == 4) { %>
                    ON MY WAY TO LOCATION
                <% } else if(tickets[i].substatus == 5) { %>
                    ARRIVED TO LOCATION
                <% } else if(tickets[i].substatus == 6) { %>
                    UNLOADING
                <% } else if(tickets[i].substatus == 7) { %>
                    FINISHED
                <% } %>
            </td>
            <td id="">

            </td>
        </tr>
    <% } %>
<% } %>