<!DOCTYPE html>
<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Configuración</title>
</head>
<body>
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div><!-- Page Content -->
      <div id="page-content-wrapper">
         <%include ../partials/navbar %>

        <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h2>Configuración</h2> <!-- TODO: Hay que cambiar este titulo a otro lado o de plano quitarlo -->
            <!-- TODO: Hay que hay que revisar si la tablet esta connectada o no para poner el status real una vez se abre la pagina -->
            <div class="widget widget-stats">
            <div class="content">
                

                <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a aria-controls="plantas" data-toggle="tab" href="#plantas" role="tab">Plantas</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="areas" data-toggle="tab" href="#areas" role="tab">Areas</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="maquinas" data-toggle="tab" href="#maquinas" role="tab">Maquinas</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="razones-paro" data-toggle="tab" href="#razones-paro" role="tab">Razones de paro</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="razones-calidad" data-toggle="tab" href="#razones-calidad" role="tab">Razones de calidad</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="productos" data-toggle="tab" href="#productos" role="tab">Productos</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="turnos" data-toggle="tab" href="#turnos" role="tab">Turnos</a>
                    </li>
                    <!--<li role="presentation">
                        <a aria-controls="alertas" data-toggle="tab" href="#alertas" role="tab">Alertas</a>
                    </li>-->
                    <li role="presentation">
                        <a aria-controls="usuarios" data-toggle="tab" href="#usuarios" role="tab">Usuarios</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content"> 
                    <div class="tab-pane active" id="plantas" role="tabpanel">
                        
                        <!--
                            Plantas 
                        -->
                        <h4>Plantas</h4>
                        <button class="btn btn-sm btn-primary" data-target="#addPlantasModal" data-toggle="modal" data-whatever="planta" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar una planta</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(plantas.length>0){%>
                        <table border="1" class="table table-bordered" id='plantas'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<plantas.length; i++) {%>
                            <tr class="quote">
                            <td>
                                <a data-pk="<%= plantas[i].id %>" data-title="Cambiar el nombre" data-type="text" data-url="/configuracion/modif-plantas-nombre" href="#" id="editar-plantas-<%= plantas[i].id %>"><%= plantas[i].nombre %></a>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-delete btn-xs" id="delete-plantas-<%= plantas[i].id %>"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay plantas</p><%} %>
                    </div>
    
                    <div class="tab-pane" id="areas" role="tabpanel">
    
                        <!-- 
                            Areas 
                        -->
                        <h4>Areas</h4>
                        <button class="btn btn-primary" data-target="#addAreasModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar una area</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(areas.length>0){%>
                        <table border="1" class="table table-bordered" id='areas'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Planta</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<areas.length; i++) {%>
                            <tr class="quote">
                            <td>
                                <a data-pk="<%= areas[i].id %>" data-title="Cambiar el nombre" data-type="text" data-url="/configuracion/modif-areas-nombre" href="#" id="editar-areas-<%= areas[i].id %>"><%= areas[i].nombre %></a>
                            </td>
                            <td>
                                <%= areas[i].planta %>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-delete btn-xs" id="delete-areas-<%= areas[i].id %>"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay plantas</p><%} %>
                    </div>
    
                    <div class="tab-pane" id="maquinas" role="tabpanel">
    
                        <!-- 
                            Maquinas 
                        -->
                        <h4>Maquinas</h4>
                        <button class="btn btn-primary" data-target="#addMaquinasModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar una maquina</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(maquinas.length>0){%>
                        <table border="1" class="table table-bordered" id='maquinas'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Area</th>
                                <th>Producto</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<maquinas.length; i++) {%>
                            <tr class="quote">
                            <td>
                                <a data-pk="<%= maquinas[i].id %>" data-title="Cambiar el nombre" data-type="text" data-url="/configuracion/modif-maquinas-nombre" href="#" id="editar-maquinas-<%= maquinas[i].id %>"><%= maquinas[i].nombre %></a>
                                </td>
                            <td>
                                    <%= maquinas[i].area %>
                                </td>
                                <td>
                                    <a data-pk="<%= maquinas[i].id %>" data-title="Cambiar el producto" data-type="select" data-url="/configuracion/modif-maquinas-producto" href="#" id="editar-maquinas-producto-<%= maquinas[i].id %>"><%= maquinas[i].producto %></a>
                                </td>
                            <td>
                                <button id="delete-maquinas-<%= maquinas[i].id %>" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay productos</p><%} %>
                    </div>
                    <div class="tab-pane" id="razones-paro" role="tabpanel">
    
                        <!-- 
                            Razones de paro 
                        -->
                        <h4>Razones de paro</h4>
                        <button class="btn btn-primary" data-target="#addRazonesModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i>Agregar una razon de paro</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(razones.length>0){%>
                        <table border="1" class="table table-bordered" id='razones'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Maquina</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<razones.length; i++) {%>
                            <tr class="quote">
                            <td><%= razones[i].nombre %></td>
                            <td><%= razones[i].maquina %></td>
                            <td>
                                <button id="" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span> TODO</button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay productos</p><%} %>
                    </div>
    
                    <div class="tab-pane" id="razones-calidad" role="tabpanel">
    
                        <!-- 
                            Razones de calidad 
                        -->
                        <h4>Razones de calidad</h4>
                        <button class="btn btn-primary" data-target="#addCalidadModal" data-toggle="modal" data-whatever="producto" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar una razon de calidad</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(calidad.length>0){%>
                        <table border="1" class="table table-bordered" id='calidad'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Notas</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<calidad.length; i++) {%>
                            <tr class="quote">
                            <td><%= calidad[i].nombre %></td>
                            <td><%= calidad[i].notas %></td>
                            <td>
                                <button id="" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span>TODO</button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay razones de calidad</p><%} %>
                    </div>
                    
                    <div class="tab-pane" id="productos" role="tabpanel">
                        
                        <!-- 
                            Productos 
                        -->
                        <h4>Productos</h4>
                        <button class="btn btn-primary" data-target="#addProductosModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar un producto</button> 
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <%if(productos.length>0){%>
                        <table border="1" class="table table-bordered" id='productos'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>disponibilidad</th>
                                <th>rendimiento</th>
                                <th>calidad</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<productos.length; i++) {%>
                            <tr class="quote">
                            <td><%= productos[i].nombre %></td>
                            <td><%= productos[i].disponibilidad %></td>
                            <td><%= productos[i].rendimiento %></td>
                            <td><%= productos[i].calidad %></td>
                            <td>
                                <button id="delete-productos-<%= productos[i].id %>" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay productos</p><%} %>
                    </div>
                    
                    <div class="tab-pane" id="turnos" role="tabpanel">
    
                        <!-- 
                            Turnos 
                        -->
                        <h4>Turnos</h4>
                        <button class="btn btn-primary" data-target="#addTurnosModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar un turno</button> <%if(turnos.length>0){%>
                        <p>&zwnj;</p><!-- Workaround para no utilizar css -->
                        <table border="1" class="table table-bordered" id='turnos'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Hora inicial</th>
                                <th>Hora final</th>
                                <th>Planta</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<turnos.length; i++) {%>
                            <tr class="quote">
                            <td><%= turnos[i].nombre %></td>
                            <td><%= turnos[i].inicio %></td>
                            <td><%= turnos[i].fin %></td>
                            <td><%= turnos[i].planta %></td>
                            <td>
                                <button id="delete-turnos-<%= turnos[i].id %>" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay turnos</p><%} %>
                    </div>
    
                    <!-- 
                            Alertas
                    -->
                    <!--
                    <div class="tab-pane" id="alertas" role="tabpanel">
                        TODO: Agregar las alertas y sus niveles (correo electronico)
                    </div>
                    -->
    
                    <div class="tab-pane" id="usuarios" role="tabpanel">
                        <!-- 
                            Usuarios 
                        -->
                        <!-- Los usuarios guardados con esta opcion no tienen su password encriptado y se guardan mal -->
                        <h4>Usuarios</h4><button class="btn btn-primary" data-target="#addUsuariosModal" data-toggle="modal" type="button"><i aria-hidden="true" class="fa fa-plus"></i> Agregar un usuario</button> <%if(users.length>0){%>
                        <table border="1" class="table table-bordered" id='usuarios'>
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>email</th>
                                <th>Rol</th>
                                <th>Nivel</th>
                                <th>Opciones</th>
                            </tr>
                            </thead><%for(var i=0; i<users.length; i++) {%>
                            <tr class="quote">
                            <td><%= users[i].username %></td>
                            <td><%= users[i].email %></td>
                            <td><%= users[i].role %></td>
                            <td><%= users[i].nivel %></td>
                            <td>
                                    <button id="" class="btn btn-danger btn-delete btn-xs"><span class="glyphicon glyphicon-trash"></span>TODO</button>
                            </td>
                            </tr><%} %>
                        </table><%} else {%>
                        <p class="alert alert-warning">No hay usuarios</p><%} %>
                    </div>
                    
                </div>
                </div>


            </div>
            </div>
        </div>
        </div>

      </div><!-- /#page-content-wrapper -->
   </div><!-- /#wrapper -->
   <%include ../partials/configuracion/add-modals %>
   <script src="http://code.jquery.com/jquery-1.10.1.min.js">
   </script> 
   <script src="/socket.io/socket.io.js">
   </script> 
   <script>
        var socket = io.connect('http://localhost:3000');

        socket.on('message', function(message) {
            //alert('The server has a message for you: ' + message );
        })

        // Esta funcion de aqui es de jquery
        $('#poke').click(function() {
            socket.emit('message', 'Hi server, how are you?');
        })

        $('#myTabs a').click(function(e) {
            e.preventDefault()
            $(this).tab('show')
        })
   </script> 
   <script type="text/javascript">
                // this function makes that the bellow code runs after the document has finished loading.
                $(function() {

                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    async function refreshPage() {
                        console.log('Taking a break...');
                        await sleep(2000);
                        console.log('Two second later');
                        location.reload();
                    }

                    /*
                     * Agregar plantas
                     */
                    $("#addPlantasForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var nombre = $("#nombreAddPlanta").val();
                        //var notas = $("#notasAddPlanta").val();
                        var tipo = "agregarPlantas";

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "nombre=" + nombre + "&tipo=" + tipo,
                            dataType: 'text',
                            success: function(text) {
                                console.log("si se hiso el insert");
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addPlantasModal').modal('hide');
                        refreshPage();
                    });

                    $("#addAreasForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var nombre = $("#nombreAddAreas").val();
                        var plantaId = $("#plantaId").val();
                        //var notas = $("#notasAddPlanta").val();
                        var tipo = "agregarAreas";

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "nombre=" + nombre + "&tipo=" + tipo + "&planta=" + plantaId,
                            dataType: 'text',
                            success: function(text) {
                                console.log("si se hiso el insert");
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addAreasModal').modal('hide');
                        refreshPage();
                    });
                    
                    $("#addMaquinasForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var nombre = $("#nombreAddMaquinas").val();
                        var areaId = $("#idAreaAddMaquinas").val();
                        var producto = $('#idProductoAddMaquinas').val();
                        //var notas = $("#notasAddPlanta").val();
                        var tipo = "agregarMaquinas";
                        

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "nombre=" + nombre + "&tipo=" + tipo + "&area=" + areaId + "&producto=" + producto,
                            dataType: 'text',
                            success: function(text) {
                                console.log("si se hiso el insert");
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addMaquinasModal').modal('hide');
                        refreshPage();
                    });

                    $("#addProductosForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var nombre = $("#addProductosNombre").val();
                        var disponibilidad = $("#addProductosDisponibilidad").val();
                        var rendimiento = $('#addProductosRendimiento').val();
                        var calidad = $("#addProductosCalidad").val();
                        var tipo = "agregarProductos";
                        

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "nombre=" + nombre + "&tipo=" + tipo + "&disponibilidad=" + disponibilidad + "&rendimiento=" + rendimiento + "&calidad=" + calidad,
                            dataType: 'text',
                            success: function(text) {
                                console.log("si se hiso el insert");
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addProductosModal').modal('hide');
                        refreshPage();
                    });

                    $("#addTurnosForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var nombre = $("#addTurnosNombre").val();
                        var inicio = $("#addTurnosHoraInicial").val();
                        var fin = $('#addTurnosHoraFinal').val();
                        var planta = $("#addTurnosPlanta").val();
                        var tipo = "agregarTurnos";
                        

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "nombre=" + nombre + "&tipo=" + tipo + "&inicio=" + inicio + "&fin=" + fin + "&planta=" + planta,
                            dataType: 'text',
                            success: function(text) {
                                //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addTurnosModal').modal('hide');
                        refreshPage();
                    });

                    $("#addUsuariosForm").submit(function(event) {
                        // cancels the form submission
                        event.preventDefault();

                        var username = $("#addUsuariosUsername").val();
                        var password = $("#addUsuariosPassword").val();
                        var email = $('#addUsuariosEmail').val();
                        var role = $("#addUsuariosRole").val();
                        var nivel = $("#addUsuariosNivel").val();
                        var tipo = "agregarUsuarios";
                        

                        $.ajax({
                            type: "POST",
                            url: "/configuracion",
                            //data: "nombre=" + nombre + "&notas=" + notas + "&tipo=" + tipo, // TOODO: por si se necesitan agregar las notas de las plantas
                            data: "username=" + username + "&password=" + password + "&email=" + email + "&role=" + role + "&nivel=" + nivel + "&tipo=" + tipo,
                            dataType: 'text',
                            success: function(text) {
                                //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                }
                            }
                        });
                        $('#addUsuariosModal').modal('hide');
                        refreshPage();
                    });

                });
   </script>


   <%if(plantas.length>0){%> 
   <%for(var i=0; i<plantas.length; i++) {%> 
   <script>
        $(document).ready(function() {
            $('#editar-plantas-<%= plantas[i].id %>').editable({
                success: function(response, newValue) {
                    if (response.status == 'error') return response.msg; //msg will be shown in editable form
                }
            });
        });
   </script> 
   <%} %> 
   <%} %> 
   <%if(areas.length>0){%> 
    <%for(var i=0; i<areas.length; i++) {%> 
    <script>
         $(document).ready(function() {
             $('#editar-areas-<%= areas[i].id %>').editable({
                 success: function(response, newValue) {
                     ///// TODO: Hay que agregar un refresh a la pagina cuando se actualizen siertas cosas, las que se necesite o se pueda
                     if (response.status == 'error') return response.msg; //msg will be shown in editable form
                 }
             });
         });
    </script> 
    <%} %> 
    <%} %>
    <%if(maquinas.length>0){%> 
    <%if(productos.length>0){%> 
    <%for(var i=0; i<maquinas.length; i++) {%> 
    <script>
            // TODO: hay que verificar esta logica, porque no se van a poder modifircar el nombre de las maquinas si no hay productos. (sera correcto?)
            $(document).ready(function() {
                $('#editar-maquinas-<%= maquinas[i].id %>').editable({
                    success: function(response, newValue) {
                        ///// TODO: Hay que agregar un refresh a la pagina cuando se actualizen siertas cosas, las que se necesite o se pueda
                        if (response.status == 'error') return response.msg; //msg will be shown in editable form
                    }
                });

                var source = [];
                <%for(var x=0; x < productos.length; x++) {%> 
                    
                    var obj = {};
                    obj["value"] = <%= productos[x].id %>;
                    obj["text"] = "<%= productos[x].nombre %>";
                    source.push(obj);
                <%} %>

                
                $('#editar-maquinas-producto-<%= maquinas[i].id %>').editable({
                    value: <%= maquinas[i].id %>,    // Muestra un error aqui en el codigo pero funciona bien a la hora de la hora. Hay que dejarlo asi
                    source: source
                });
            });
    </script> 
    <%} %> 
    <%} %>
    <%} %>


    <%if(plantas.length>0){%> 
    <%for(var i=0; i<plantas.length; i++) {%> 
    <script>
            $(document).ready(function() {
                // Para refrescar la pagina una vez que se halla echo un cambio
                function sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                }

                async function refreshPage() {
                    console.log('Taking a break...');
                    await sleep(2000);
                    console.log('Two second later');
                    location.reload();
                }

                $('#delete-plantas-<%= plantas[i].id %>').click(function(){
                    var result = confirm("Quieres borrar: <%= plantas[i].nombre %>?");
                    if (result) {
                        console.log("se va a borrar :(");

                        $.ajax({
                            type: "DELETE",
                            url: "/configuracion/plantas/<%= plantas[i].id %>",
                            success: function(text) {
                                //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                    //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                    console.log("vamos a ver si se booro");
                                }
                            }
                        });
                        refreshPage();
                    }
                });

            });
    </script>
    <%} %>
    <%} %>
    <%if(areas.length>0){%> 
    <%for(var i=0; i<areas.length; i++) {%> 
        <script>
                $(document).ready(function() {
                    // Para refrescar la pagina una vez que se halla echo un cambio
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }
    
                    async function refreshPage() {
                        console.log('Taking a break...');
                        await sleep(2000);
                        console.log('Two second later');
                        location.reload();
                    }
                    
                    $('#delete-areas-<%= areas[i].id %>').click(function(){
                        var result = confirm("Quieres borrar: <%= areas[i].nombre %>?");
                        if (result) {
                            console.log("se va a borrar :(");
    
                            $.ajax({
                                type: "DELETE",
                                url: "/configuracion/areas/<%= areas[i].id %>",
                                success: function(text) {
                                    //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                    if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                        //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                        console.log("vamos a ver si se booro");
                                    }
                                }
                            });
                            refreshPage();
                        }
                    });
    
                });
        </script>
    <%} %>
    <%} %>
    <%if(maquinas.length>0){%> 
    <%for(var i=0; i<maquinas.length; i++) {%> 
        <script>
                $(document).ready(function() {
                    // Para refrescar la pagina una vez que se halla echo un cambio
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }
    
                    async function refreshPage() {
                        console.log('Taking a break...');
                        await sleep(2000);
                        console.log('Two second later');
                        location.reload();
                    }
                    
                    $('#delete-maquinas-<%= maquinas[i].id %>').click(function(){
                        var result = confirm("Quieres borrar: <%= maquinas[i].nombre %>?");
                        if (result) {
                            console.log("se va a borrar :(");
    
                            $.ajax({
                                type: "DELETE",
                                url: "/configuracion/maquinas/<%= maquinas[i].id %>",
                                success: function(text) {
                                    //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                    if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                        //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                        console.log("vamos a ver si se booro");
                                    }
                                }
                            });
                            refreshPage();
                        }
                    });
    
                });
        </script>
    <%} %>
    <%} %>
    <%if(productos.length>0){%> 
    <%for(var i=0; i<productos.length; i++) {%> 
        <script>
                $(document).ready(function() {
                    // Para refrescar la pagina una vez que se halla echo un cambio
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }
    
                    async function refreshPage() {
                        console.log('Taking a break...');
                        await sleep(2000);
                        console.log('Two second later');
                        location.reload();
                    }
                    
                    $('#delete-productos-<%= productos[i].id %>').click(function(){
                        var result = confirm("Quieres borrar: <%= productos[i].nombre %>?");
                        if (result) {
                            console.log("se va a borrar :(");
    
                            $.ajax({
                                type: "DELETE",
                                url: "/configuracion/productos/<%= productos[i].id %>",
                                success: function(text) {
                                    //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                    if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                        //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                        console.log("vamos a ver si se booro");
                                    }
                                }
                            });
                            refreshPage();
                        }
                    });
    
                });
        </script>
    <%} %>
    <%} %>
    <%if(turnos.length>0){%> 
    <%for(var i=0; i<turnos.length; i++) {%> 
        <script>
                $(document).ready(function() {
                    // Para refrescar la pagina una vez que se halla echo un cambio
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }
    
                    async function refreshPage() {
                        console.log('Taking a break...');
                        await sleep(2000);
                        console.log('Two second later');
                        location.reload();
                    }
                    
                    $('#delete-turnos-<%= turnos[i].id %>').click(function(){
                        var result = confirm("Quieres borrar: <%= turnos[i].nombre %>?");
                        if (result) {
                            console.log("se va a borrar :(");
    
                            $.ajax({
                                type: "DELETE",
                                url: "/configuracion/turnos/<%= turnos[i].id %>",
                                success: function(text) {
                                    //console.log("si se hiso el insert"); // TODO Hay que agregar una mejor forma de login
                                    if (text == "success") { ///// TODO: Hay que ver que pedo porque este success no funciona.
                                        //alert("sea armo si se guardo"); // This is weird porque no se pone .
                                        console.log("vamos a ver si se booro");
                                    }
                                }
                            });
                            refreshPage();
                        }
                    });
    
                });
        </script>
    <%} %>
    <%} %>



   <%include ../partials/js %>
</body>
</html>