<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Inicio</title>
   <style>
        table, th, td {
            border: 1px solid black;
        }
        .green {
            background-color: #35DA0C;
            color: #ffffff;
        }
        .red {
            background-color: #FD2412;
            color: #ffffff;
        }
        .grey {
            background-color: #757474;
            color: #ffffff;
        }
   </style>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->

      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->

        <div id="page-content-wrapper" style="height: 100vh">
        <%include ../partials/navbar %>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>Inicio</h2> <!-- TODO: Hay que cambiar este titulo a otro lado o de plano quitarlo -->
                <!-- TODO: Hay que hay que revisar si la tablet esta connectada o no para poner el status real una vez se abre la pagina -->
                <!-- TODO: Agregar que turno se esta mostrando -->
                <h4> 
                    <span id="turno">
                        <%= turnoActual[0].nombre %>
                    </span>
                </h4>
                <div class="widget widget-stats">
                <div class="content">
                    <table border="1" class="table table-bordered table-condensed table-hover table-striped" id='eventos'>
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Maquina</th>
                                <th>Producto</th>
                                <th>PH</th>
                                <th>Temp</th>
                                <th>Cond</th>
                                <th>Chispa</th>
                                <th>Nudo</th>
                                <th>Disp</th>
                                <th>TA</th>
                                <th>TM</th>
                                <th>Rend</th>
                                <th>Calidad</th>
                                <th>PT</th>
                                <th>Scrap</th>
                                <th>Total</th>
                                <th>OEE</th>
                            </tr>
                        </thead>
                        
                        <!-- Agrega una fila por cada maquina que este funcionando -->
                        <!-- TODO: Hay que probar que funcione bien esto nunca se ha verificado -->
                        <!-- TODO: Hay que agregar un tiempo del ultimo evento o algo asi, porque no se ve de cuando es la ultima lectura que se tubo -->
                        <tbody>
                        <%if (estado.length > 0) { %>
                        <% for(var i=0; i<estado.length; i++) {%>
                        <tr class="quote">
                            <td id="estado" class="
                                    <%if (estado[i]) { %> 
                                        <%if (estado[i].status == 'online') { %> 
                                            <%= estado[i].razon == 'activo' ?  "green"  : "red"  %> 
                                        <% } else { %>  grey  <% } %>
                                    <% } else { %>  grey  <% } %>
                                    ">
                                <%if (estado[i]) { %>
                                    <%if (estado[i].status == 'online') { %>
                                        <%= estado[i].razon %>
                                    <% } else { %> 
                                        Offline
                                    <% } %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="maquina">
                                <%if (estado[i]) { %>
                                    <%= estado[i].nombre %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="producto">
                                <%if (estado[i]) { %>
                                    <%= estado[i].producto %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="ph"></td>
                            <td id="temperatura"></td>
                            <td id="conductividad"></td>
                            <td id="digital1" class="<%if (digital[0]) { %> <%= digital[0].activo == '0' ? " green " : "red " %> <% } %>">
                                
                            </td>
                            <td id="digital2" class="<%if (digital[1]) { %> <%= digital[1].activo == '0' ? " green " : "red " %> <% } %>">
                                
                            </td>
                            <td id="disponibilidad">
                                <!-- Si el query de disponibilidad esta empty despliega un i -->
                                <%if (disponibilidad[i] && disponibilidad[0].disponibilidad !== null) { %>
                                    <%= (disponibilidad[i].disponibilidad).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="ta">
                                <%if (disponibilidad[i] && disponibilidad[0].disponibilidad !== null) { %>
                                    <%= (disponibilidad[i].ta /60 /60).toFixed(2) %> hrs 
                                <% } else{ %> 
                                    0 hrs
                                <% } %>
                            </td>
                            <td id="tm">
                                <%if (disponibilidad[i] && disponibilidad[0].disponibilidad !== null) { %>
                                    <%= (disponibilidad[i].tm /60 /60).toFixed(2) %> hrs
                                <% } else{ %> 
                                    0 hrs
                                <% } %>
                            </td>
                            <td id="rendimiento">
                                <%if (rendimiento[i] && rendimiento[0].rendimiento !== null) { %>
                                    <%= (rendimiento[i].rendimiento).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="calidad">
                                <%if (calidad[i] && calidad[0].calidad !== null) { %>
                                    <%= (calidad[i].calidad).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="pt">
                                <%if (calidad[i] && calidad[0].calidad !== null) { %>
                                    <%= calidad[i].pt %> mts
                                <% } else{ %> 
                                    0 mts
                                <% } %>
                            </td>
                            <td id="scrap" >
                                <%if (calidad[i] && calidad[0].calidad !== null) { %>
                                    <%= (calidad[i].scrap).toFixed(2) %> mts
                                <% } else{ %> 
                                    0 mts
                                <% } %>
                            </td>
                            <td id="total" >
                                <%if (calidad[i] && calidad[0].calidad !== null) { %>
                                    <%= (calidad[i].total).toFixed(2) %> mts
                                <% } else{ %> 
                                    0 mts
                                <% } %>
                            </td>
                            <td id="oee">
                                <!-- TODO: Agregar validaciones para cuando sea null que no pase el if -->
                                <%if (calidad[i] && rendimiento[i] && disponibilidad[i]) { %>
                                    <!-- TODO: verificar que esto este bien -->
                                    <%= ((calidad[i].calidad + rendimiento[i].rendimiento + disponibilidad[i].disponibilidad)/3).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                        </tr>
                        </tbody>
                        <% } %>
                        <% } else{ %>  
                            <p class="alert alert-warning">No eventos registrados en el turno actual</p>
                        <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js">
   </script> 
   <script src="/socket.io/socket.io.js">
   </script> 
   <script>
        
        // TODO: Esto tiene que estar con la url del servidor una vez arriba 
        var socket = io.connect('http://ec2-18-221-199-24.us-east-2.compute.amazonaws.com:3000');
        //var socket = io.connect('localhost:3000');
        
        socket.on('message', function(message) {
            console.log('el server esta vivo');
        })

        var tid = setInterval(mycode, 15000);
        function mycode() {
            console.log("mande a actualizar");
            socket.emit('actualizar', "please"); // El mensaje enviado no es utilizado para la actualizacion.
        }

        socket.on('actualizar', function(message) {

             console.log("socket.on - Actualizar - message.estado[0].status");
             console.log(message.estado[0].status);

             // TODO: este codigo solo funciona para cuando hay una sola maquina, todabia hay que hacer que funcione para mas maquinas
             if (message.estado[0].status == 'online') {
                if (message.estado[0].razon == 'activo'){
                    //console.log('verde');
                    $('#estado').addClass('green');
                    $('#estado').removeClass('red');
                    $('#estado').removeClass('grey');
                } else {
                    //console.log('rojo');
                    $('#estado').addClass('red');
                    $('#estado').removeClass('green');
                    $('#estado').removeClass('grey');
                }
                $("#estado").html(message.estado[0].razon);  
            } else {
                $('#estado').addClass('grey');
                $('#estado').removeClass('red');
                $('#estado').removeClass('green');
                $("#estado").html("Offline");
            }


            $("#maquina").html(message.estado[0].nombre); // TODO: no puede ser el ID de la maquina, me tiene que regresar el nombre
            $("#producto").html(message.estado[0].producto);

            // Si disponibilidad viene vacio hay que poner un 0 ( disponibilidad: [] )
            if (message.disponibilidad.length > 0) {
                $("#disponibilidad").html((message.disponibilidad[0].disponibilidad).toFixed(2) + " %");
                $("#ta").html((message.disponibilidad[0].ta /60 /60).toFixed(2) + " hrs");
                $("#tm").html((message.disponibilidad[0].tm /60 /60).toFixed(2) + " hrs");
            } else {
                $("#disponibilidad").html("0%");
            }

            // Si rendimiento viene vacio hay que poner un 0 ( rendimiento: [] )
            if (message.rendimiento.length > 0){
                $("#rendimiento").html((message.rendimiento[0].rendimiento).toFixed(2) + " %");
            }
            else {
                $("#rendimiento").html("0%");
            }

            // Si calidad viene vacio hay que poner un 0 ( calidad: [] )
            if (message.calidad.length > 0) { 
                $("#calidad").html((message.calidad[0].calidad).toFixed(2) + " %");
                $("#pt").html(message.calidad[0].pt + " mts");
                $("#scrap").html((message.calidad[0].scrap).toFixed(2) + " mts");
                $("#total").html((message.calidad[0].total).toFixed(2) + " mts");
            }
            else {
                $("#calidad").html("0%");
            }

            // Calcula el OEE disponibilidad + rendimiento + calidad
            // TODO: Penzar esto un poco mas porque asi si sale un numero degativo se va a desplegar 0%
            if (message.disponibilidad.length > 0 && message.rendimiento.length > 0 && message.calidad.length > 0)
                $("#oee").html(((message.disponibilidad[0].disponibilidad + message.rendimiento[0].rendimiento + message.calidad[0].calidad)/3).toFixed(2)  + " %");
            else
                $("#oee").html("0%");

            var mensaje = JSON.stringify(message);
            //console.log('se recibio un valor: ' + mensaje);
        })

        socket.on('digital1', function(message) {

            //console.log("llego un evento digital1: " +message);
            message = JSON.parse(message);

            if (message.valor == 0){
                 //console.log('verde');
                 $('#digital1').addClass('green');
                 $('#digital1').removeClass('red');
             } else {
                 //console.log('rojo');
                 $('#digital1').addClass('red');
                 $('#digital1').removeClass('green');
             }
        })

        socket.on('digital2', function(message) {

            //console.log("llego un evento digital2: " +message);
            message = JSON.parse(message);

            if (message.valor == 0){
                 //console.log('verde');
                 $('#digital2').addClass('green');
                 $('#digital2').removeClass('red');
             } else {
                 //console.log('rojo');
                 $('#digital2').addClass('red');
                 $('#digital2').removeClass('green');
             }
        })

   </script> 
   <%include ../partials/js %>
   <script>
       //$("#eventos").bootgrid();
   </script>
</body>
</html>