<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <style>
        table, th, td {
            border: 1px solid black;
        }
   </style>

   <title>
   </title>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->


      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->


      <div id="page-content-wrapper">
         <%include ../partials/navbar %>

         <div class="container-fluid" id="contenedor-maestro">
            <h1>Inicio</h1>
            <!--<p><input type="button" value="Send all to the fucking fuck" id="poke" /></p>-->


            <%if(maquinas.length>0){%><br>


            <div>
               <p>Ultimo estado de la maquina:</p>


               <p id='status'><%= eventos[eventos.length-1].estado%>
               </p>


               <p>Ultimo estado de la conexión:</p>


               <p id='connection'>Connectado</p>
               <!-- TODO: Hay que hay que revisar si la tablet esta connectada o no para poner el status real una vez se abre la pagina -->
            </div>
            <br>

            
            <table border="1" class="table table-bordered" id='eventos'>
               <thead>
                  <tr>
                     <th>Conexion</th>
                     <th>Estado</th>
                     <th>Maquina</th>
                     <th>Producto</th>
                     <th>Disponibilidad</th>
                     <th>Rendimiento</th>
                     <th>Calidad</th>
                     <th>OEE</th>
                  </tr>
               </thead>
               <%for(var i=0; i<eventos.length; i++) {%>

               <tr class="quote">
                  <td>OK
                  </td>
                  <td><%= eventos[i].estado %>
                  </td>
                  <td><%= eventos[i].maquina %>
                  </td>
                  <td><%= eventos[i].producto %>
                  </td>
                  <td><%= eventos[i].fecha %>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                    </td>
               </tr>
               <%} %>
            </table>
            <%} else {%>

            <p class="alert alert-warning">No eventos</p>
            <%} %>
         </div>
      </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js">
   </script> 
   <script src="/socket.io/socket.io.js">
   </script> 
   <script>
        var socket = io.connect('http://localhost:3000');

        socket.on('message', function(message) {
            //alert('The server has a message for you: ' + message );
        })

        // Esta funcion de aqui es de jquery
        $('#poke').click(function () {
            socket.emit('inner', 'Hi server, how are you?');
        })

        // Esta funcion de aqui es de jquery
        $('#encendido').click(function () {
            socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":true, "razones_id":1, "tiempo":300 }');
        })

        $('#apagado').click(function () {
            socket.emit('evento', '{"operacion_uuid":"UUID", "maquinas_id":1, "activo":false, "razones_id":2, "tiempo":300 }');
        })
        

        socket.on('update-inicio', function(message) {
           var status = document.getElementById("status");
           status.innerHTML = message[ message.length -1 ].estado;
        });

        socket.on('desconectado', function(message) {
           var status = document.getElementById("connection");
           status.innerHTML = "Desconectado";
        });

        socket.on('conectado', function(message) {
           var status = document.getElementById("connection");
           status.innerHTML = "Conectado";
        });

   </script> <%include ../partials/js %>
</body>
</html>