<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Inicio</title>
   <style>
        table, th, td {
            border: 1px solid black;
        }
        .green {
            background-color: green;
            color: #ffffff;
        }
        .red {
            background-color: red;
            color: #ffffff;
        }

   </style>
</head>

<body>
   <div id="wrapper">
      <!-- Sidebar -->


      <div id="sidebar-wrapper">
         <%include ../partials/sidebar-wrapper %>
      </div>
      <!-- Page Content -->


        <div id="page-content-wrapper" style="height: 100vh">
        <%include ../partials/navbar %>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <h2>Inicio</h2> <!-- TODO: Hay que cambiar este titulo a otro lado o de plano quitarlo -->
                <!-- TODO: Hay que hay que revisar si la tablet esta connectada o no para poner el status real una vez se abre la pagina -->
                <div class="widget widget-stats">
                <div class="content">
                    <table border="1" class="table table-bordered" id='eventos'>
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Maquina</th>
                                <th>Producto</th>
                                <th>Disponibilidad</th>
                                <th>Rendimiento</th>
                                <th>Calidad</th>
                                <th>OEE</th>
                            </tr>
                        </thead>
                        
                        <!-- Agrega una fila por cada maquina que este funcionando -->
                        <!-- TODO: Hay que probar que funcione bien esto nunca se ha verificado -->
                        <!-- TODO: Hay que agregar un tiempo del ultimo evento o algo asi, porque no se ve de cuando es la ultima lectura que se tubo -->
                        <%if (estado.length > 0) { %>
                        <% for(var i=0; i<estado.length; i++) {%>
                        <tr class="quote">
                            <td id="estado" class="<%if (estado[i]) { %> <%= estado[i].razon == 'activo' ? " green " : "red " %> <% } else { %> "green" <% } %>">
                                <%if (estado[i]) { %>
                                    <%= estado[i].razon %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="maquina">
                                <%if (estado[i]) { %>
                                    <%= estado[i].maquina %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="producto">
                                <%if (estado[i]) { %>
                                    <%= estado[i].producto %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </td>
                            <td id="disponibilidad">
                                <!-- Si el query de disponibilidad esta empty despliega un i -->
                                <%if (disponibilidad[i]) { %>
                                    <%= (disponibilidad[i].disponibilidad).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="rendimiento">
                                <%if (rendimiento[i]) { %>
                                    <%= (rendimiento[i].rendimiento).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="calidad">
                                <%if (calidad[i]) { %>
                                    <%= (calidad[i].calidad).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                            <td id="oee">
                                <%if (calidad[i] && rendimiento[i] && disponibilidad[i]) { %>
                                    <!-- TODO: verificar que esto este bien -->
                                    <%= ((calidad[i].calidad + rendimiento[i].rendimiento + disponibilidad[i].disponibilidad)/3).toFixed(2) %> %
                                <% } else{ %> 
                                    0%
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        <% } else{ %>  
                            <p class="alert alert-warning">No eventos registrados en el turno actual</p>
                        <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
      <!-- /#page-content-wrapper -->
   </div>
   <!-- /#wrapper -->
   <script src="http://code.jquery.com/jquery-1.10.1.min.js">
   </script> 
   <script src="/socket.io/socket.io.js">
   </script> 
   <script>
        
        // TODO: Esto tiene que estar con la url del servidor una vez arriba 
        //var socket = io.connect('http://ec2-18-221-199-24.us-east-2.compute.amazonaws.com:3000');
        var socket = io.connect('localhost:3000');
        
        socket.on('message', function(message) {
            console.log('el server esta vivo');
        })

        socket.on('actualizar', function(message) {

            // Agrega color a la tabla que muestra el estatus
            if (message.estado[0].razon == 'activo'){
                 console.log('verde');
                 $('#estado').addClass('green');
                 $('#estado').removeClass('red');
             } else {
                 console.log('rojo');
                 $('#estado').addClass('red');
                 $('#estado').removeClass('green');
             }
            // TODO: Esto solo muestra info de una maquina, hay que mostrar la info de mas maquinas
            $("#estado").html(message.estado[0].razon);
            $("#maquina").html(message.estado[0].maquina); // TODO: no puede ser el ID de la maquina, me tiene que regresar el nombre
            $("#producto").html(message.estado[0].producto);

            // Si disponibilidad viene vacio hay que poner un 0 ( disponibilidad: [] )
            if (message.disponibilidad.length > 0) {
                $("#disponibilidad").html(message.disponibilidad);
            } else {
                $("#disponibilidad").html("0%");
            }

            // Si rendimiento viene vacio hay que poner un 0 ( rendimiento: [] )
            if (message.rendimiento.length > 0)
                $("#rendimiento").html(message.rendimiento);
            else
                $("#rendimiento").html("0%");

            // Si calidad viene vacio hay que poner un 0 ( calidad: [] )
            if (message.calidad.length > 0)
                $("#calidad").html(message.calidad);
            else
                $("#calidad").html("0%");

            // Calcula el OEE disponibilidad + rendimiento + calidad
            if (message.disponibilidad.length > 0 || message.rendimiento.length > 0 || message.calidad.length > 0)
                $("#oee").html((message.disponibilidad + message.rendimiento + message.calidad)/3 );
            else
                $("#oee").html("0%");

            var mensaje = JSON.stringify(message);
            console.log('se recibio un valor: ' + mensaje);
        })

   </script> 
   <%include ../partials/js %>
</body>
</html>