<!DOCTYPE html>

<html lang="en">

<head>
    <%include ../partials/head %>
    <title>Assets</title>
    <style>
    .lnk_view_invoice:visited{
        color: #333;
    }
    </style>
        
</head>

<body>

    <%include ../partials/navbar %>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <%include ../partials/sidebar %>

                <!-- Page Content Holder -->
                <div id="content" class="main-content">
                        <div class="tab-content">
                            <div class="content">
                                <div class="row">
                                    <br/>
                                    <div class="col-md-6">
                                        <p>
                                            <button id="btn_create_asset" href="#dv_csv_load" type="button" class="btn btn-secondary" aria-label="Left Align" data-toggle="modal" data-target=".manual-input-modal">
                                                Add asset
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>

                                <div class="row">
                                    <br/>
                                </div>

                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th data-column-id="id" data-type="numeric">Id</th>
                                                    <th data-column-id="name">Name</th>
                                                    <th data-column-id="type">Type</th>
                                                    <th data-column-id="plate">Plate</th>
                                                    <th data-column-id="mi">Miles</th>
                                                    <th data-column-id="miLastService">Miles of Last Service</th>
                                                    <th data-column-id="up">UP</th>
                                                    <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if(!assets || !assets.length || assets.length == 0){ %>
                                                    <tr>
                                                        <td>
                                                            <span>No assets found</span>
                                                        </td>
                                                    </tr>
                                                <% } else { %>
                                                    <% assets.forEach((asset) => { %>
                                                        <tr>
                                                            <td>
                                                                <span><%= asset.id %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.name || 'Name not available' %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.type || 'Type not available' %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.plate || 'Plate not available' %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.mi || 'Miles not available' %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.mi_last_service || 'Miles last service not available' %></span>
                                                            </td>
                                                            <td>
                                                                <span><%= asset.up ? 'yes' : 'no' || 'No available' %></span>
                                                            </td>
                                                        </tr>
                                                    <% }) %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <div id="dv_csv_load" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Add new asset</h4>
                    </div>
                    <div class="modal-body">
                        <form id="frm_csv">
                            <label for="tx_name">Name:</label> 
                            <br>
                            <input class="form-control" placeholder="name" name="name" type="text" id="tx_name" />
                            <br>
                            <label for="tx_type">Type:</label>
                            <br>
                            <select class="form-control" placeholder="type" name="type" type="text" id="tx_type" >
                                <option value="TRUCK">Truck</option>
                                <option value="TRAILER">Trailer</option>
                                <option value="EQUIPMENT">Equipment</option>
                            </select>
                            <br>
                            <label for="tx_plate">Plate:</label>
                            <br>
                            <input class="form-control" placeholder="plate" name="plate" type="text" id="tx_plate" />
                            <br>
                            <label for="tx_status">Status:</label>
                            <br>
                            <input class="form-control" placeholder="status" name="status" type="text" id="tx_status" />
                            <br>
                            <label for="tx_mi">Miles:</label>
                            <br>
                            <input class="form-control" placeholder="mi" name="mi" type="number" id="tx_mi" value="0"/>
                            <br>
                            <label for="tx_miLastService">Miles of last service:</label>
                            <br>
                            <input class="form-control" placeholder="miLastService" name="miLastService" type="number" id="tx_miLastService" value="0"/>
                            <br>
                            <label for="tx_mttoLast">Mtto. Last:</label>
                            <br>
                            <input class="form-control" placeholder="mttoLast" name="mttoLast" type="date" id="tx_mttoLast" value="2000-05-05" />
                            <br>
                            <label for="tx_mttoNext">Mtto. Next:</label>
                            <br>
                            <input class="form-control" placeholder="mttoNext" name="mttoNext" type="date" id="tx_mttoNext" />
                            <br>
                            <label for="tx_notes">Notes:</label>
                            <br>
                            <input class="form-control" placeholder="notes" name="notes" type="text" id="tx_notes" />
                            <br>
                            <label for="tx_up">Up:</label>
                            <br>
                            <select class="form-control" placeholder="up" name="up" type="number" id="tx_up" >
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                            <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_save_asset" type="button" class="btn btn-primary">Save asset</button>
                        <button id="btn_cancel_asset" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="dv_edit_asset" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Add new asset</h4>
                    </div>
                    <div class="modal-body">
                        <form id="frm_edit_csv">
                            <label for="tx_edit_name">Name:</label> 
                            <br>
                            <input class="form-control" placeholder="name" name="name" type="text" id="tx_edit_name" />
                            <br>
                            <label for="tx_edit_type">Type:</label>
                            <br>
                            <select class="form-control" placeholder="type" name="type" type="text" id="tx_edit_type" >
                                <option value="TRUCK">Truck</option>
                                <option value="TRAILER">Trailer</option>
                                <option value="EQUIPMENT">Equipment</option>
                            </select>
                            <br>
                            <label for="tx_edit_plate">Plate:</label>
                            <br>
                            <input class="form-control" placeholder="plate" name="plate" type="text" id="tx_edit_plate" />
                            <br>
                            <label for="tx_edit_status">Status:</label>
                            <br>
                            <input class="form-control" placeholder="status" name="status" type="text" id="tx_edit_status" />
                            <br>
                            <label for="tx_edit_mi">Miles:</label>
                            <br>
                            <input class="form-control" placeholder="mi" name="mi" type="number" id="tx_edit_mi" />
                            <br>
                            <label for="tx_edit_miLastService">Miles of last service:</label>
                            <br>
                            <input class="form-control" placeholder="miLastService" name="miLastService" type="number" id="tx_edit_miLastService" />
                            <br>
                            <label for="tx_edit_mttoLast">Mtto. Last:</label>
                            <br>
                            <input class="form-control" placeholder="mttoLast" name="mttoLast" type="date" id="tx_edit_mttoLast" />
                            <br>
                            <label for="tx_edit_mttoNext">Mtto. Next:</label>
                            <br>
                            <input class="form-control" placeholder="mttoNext" name="mttoNext" type="date" id="tx_edit_mttoNext" />
                            <br>
                            <label for="tx_edit_notes">Notes:</label>
                            <br>
                            <input class="form-control" placeholder="notes" name="notes" type="text" id="tx_edit_notes" />
                            <br>
                            <label for="tx_edit_up">Up:</label>
                            <br>
                            <select class="form-control" placeholder="up" name="up" type="number" id="tx_edit_up" >
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                            <br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_save_edit_asset" type="button" class="btn btn-primary">Save asset</button>
                        <button id="btn_cancel_edit_asset" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <script src="/socket.io/socket.io.js"></script>  -->
        <%include ../partials/js %>

            <!-- Ticket detail modal  -->
            <%include ../partials/ticket-detail %>
                <script type="text/javascript">
                    (function (APP) {
                        APP.SERVICE = APP.SERVICE || {};

                        APP.SERVICE.ASSETS = APP.SERVICE.ASSETS || {};
                        APP.SERVICE.ASSETS.GET_ASSETS = APP.SERVICE.ASSETS.GET_ASSETS || function(){
                            $.ajax({
                                url: '/api/assets/' + id,
                                method: 'GET',
                                success: function(data){
                                    callback(data);
                                },
                                error: function(){
                                    alert('It seems this asset is not available anymore.');
                                }
                            });
                        };
                        APP.SERVICE.ASSETS.CREATE = APP.SERVICE.ASSETS.CREATE || function(){
                            $('#frm_csv').attr('disabled', 'disabled');

                            var postData = {
                                name:           $("#tx_name").val(),
                                type:           $("#tx_type").val(),
                                plate:          $("#tx_plate").val(),
                                status:         $("#tx_status").val(),
                                mi:             $("#tx_mi").val(),
                                miLastService:  $("#tx_miLastService").val(),
                                mttoLast:       $("#tx_mttoLast").val(),
                                mttoNext:       $("#tx_mttoNext").val(),
                                notes:          $("#tx_notes").val(),
                                up:             $("#tx_up").val()
                            };
                            
                            $.ajax({
                                url: '/api/assets/create',
                                method: 'POST',
                                data: postData,
                                success: function(data){
                                    alert(data.message);
                                    document.getElementById('frm_csv').reset();
                                    $('#frm_csv').removeAttr('disabled');
                                    $('#dv_csv_load').modal('toggle');
                                    location.reload(); // Recarga la pagina para ver el cambio
                                }
                            });
                        };
                        APP.SERVICE.ASSETS.FIND_BY_ID = APP.SERVICE.ASSETS.FIND_BY_ID || function(id, callback){
                            $.ajax({
                                url: '/api/assets/' + id,
                                method: 'GET',
                                success: function(data){
                                    callback(data);
                                },
                                error: function(){
                                    alert('It seems this asset is not available anymore.');
                                }
                            });
                        };
                        APP.SERVICE.ASSETS.DELETE = APP.SERVICE.ASSETS.DELETE || function(id){
                            $.ajax({
                                url: '/api/assets/' + id,
                                method: 'DELETE',
                                success: function(data){
                                    alert('Asset removed successfully.');
                                    location.reload();
                                },
                                error: function(){
                                    alert('This asset couldn\'t be deleted. It seems someone did it before you or that asset didn\'t even exist.');
                                }
                            });
                        };
                        APP.SERVICE.ASSETS.UPDATE = APP.SERVICE.ASSETS.UPDATE || function(id){
                            $('#frm_edit_csv').attr('disabled', 'disabled');

                            var postData = {
                                name:           $("#tx_edit_name").val(),
                                type:           $("#tx_edit_type").val(),
                                plate:          $("#tx_edit_plate").val(),
                                status:         $("#tx_edit_status").val(),
                                mi:             $("#tx_edit_mi").val(),
                                miLastService:  $("#tx_edit_miLastService").val(),
                                mttoLast:       $("#tx_edit_mttoLast").val(),
                                mttoNext:       $("#tx_edit_mttoNext").val(),
                                notes:          $("#tx_edit_notes").val(),
                                up:             $("#tx_edit_up").val()
                            };
                            
                            $.ajax({
                                url: '/api/assets/update/' + id,
                                method: 'PUT',
                                data: postData,
                                success: function(data){
                                    alert(data.message);
                                    document.getElementById('frm_edit_csv').reset();
                                    $('#frm_edit_csv').removeAttr('disabled');
                                    $('#dv_edit_asset').modal('toggle');
                                    $('#btn_save_edit_asset').removeAttr('data-id');
                                    location.reload(); // Recarga la pagina para ver el cambio
                                },
                                error: function(){
                                    alert('Error when updating asset. Please try again.');
                                    $('#frm_edit_csv').removeAttr('disabled');
                                }
                            });
                        };

                        APP.SERVICE.DISPATCHER = APP.SERVICE.DISPATCHER || {};

                        APP.SERVICE.DISPATCHER.GET_UPS = APP.SERVICE.DISPATCHER.GET_UPS || function () {
                            $.ajax({
                                cache: false,
                                method: 'GET',
                                url: '/api/dispatcher/getUps',
                                success: function (data) {
                                    $('#trailersUp').html(data.trailersUp);
                                    $('#trucksUp').html(data.trucksUp);
                                    $('#driversUp').html(data.driversUp);
                                },
                                error: function (e) {
                                    console.error(e);
                                    alert('Couldn\'t load data for trailers up, drivers up, and trucks up.');
                                }
                            });
                        };

                        APP.SERVICE.DISPATCHER.GET_TICKET_DETAIL = APP.SERVICE.DISPATCHER.GET_TICKET_DETAIL || function (ticketId) {
                            var url = "/api/dispatcher/getTicketDetail/" + ticketId;
                            $.ajax({
                                cache: false,
                                method: 'GET',
                                url: url,
                                dataType: 'application/json',
                                success: function (data) {
                                    $('#trailersUp').html(data.trailersUp);
                                    $('#trucksUp').html(data.trucksUp);
                                    $('#driversUp').html(data.driversUp);
                                },
                                error: function (err) {
                                    console.error(err);
                                    alert('Couldn\'t load data for ticket ' + ticketId);
                                }
                            });
                        };

                        APP.SERVICE.TICKETS = {};

                        APP.SERVICE.TICKETS.UPLOAD_CSV = APP.SERVICE.TICKETS.UPLOAD_CSV || function (csvArray) {
                            var ajaxRequests = [];
                            for (var i = 0; i < csvArray.length; i++) {
                                ajaxRequests.push(
                                    $.ajax({
                                        method: 'POST',
                                        url: '/api/tickets/upload/csv',
                                        dataType: 'json',
                                        data: {
                                            record: csvArray[i]
                                        },
                                        success: function (data) {
                                            console.log(data);
                                        },
                                        error: function (e, d, f) {
                                            console.error(e);
                                            console.error(f);
                                        }
                                    })
                                );
                            }
                            $.when
                                .apply(undefined, ajaxRequests).always(function () {
                                    var failed = [];

                                    for (var i = 0; i < ajaxRequests.length; i++) {
                                        var requestStatus = parseInt(ajaxRequests[i].status);
                                        if (requestStatus < 200 || requestStatus > 299) {
                                            failed.push(ajaxRequests[i].responseText);
                                        }
                                    }

                                    if (failed.length > 0) {
                                        alert("Some records couldn't be saved:\n" + failed.join(" | "));
                                    } else {
                                        alert("All records were saved successfully!");
                                    }

                                    APP.location.reload();
                                });
                        }

                        APP.LOAD = APP.LOAD || {};

                        //page load functionality first!
                        APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                            $('#sidebarCollapse').on('click', function () {
                                $('#sidebar').toggleClass('active');
                            });
                        };

                        //Obtiene los drivers, trucks and trailers que estan disponibles
                        APP.LOAD.UPS = APP.LOAD.UPS || function () {
                            APP.SERVICE.DISPATCHER.GET_UPS();
                        };

                        APP.LOAD.GRID = APP.LOAD.GRID || function () {
                            var commandsFormatter = function (column, row) {
                                return "<button type=\"button\" class=\"btn btn-md btn-default command-edit-asset\" data-row-id=\"" + row.id + "\">Edit</button>" +
                                    "<button type=\"button\" class=\"btn btn-md btn-default command-delete-asset\" data-row-id=\"" + row.id + "\">Delete</button> ";
                            };

                            var loadedRsJQueryBootgrid = function () {
                                var onClickDelete = function (e) {
                                    APP.SERVICE.ASSETS.FIND_BY_ID($(this).attr('data-row-id'), function (asset) {
                                        if(confirm('Are you sure you want to delete the asset [' + asset[0].id + '] ' + asset[0].name + '?')){
                                            APP.SERVICE.ASSETS.DELETE(asset[0].id);
                                        }
                                    });
                                };

                                var onClickEdit = function(e) {
                                    APP.SERVICE.ASSETS.FIND_BY_ID($(this).attr('data-row-id'), function (asset) {
                                        asset = asset[0];
                                        $("#dv_edit_asset").modal('show',  $("#dv_edit_asset"));

                                        $("#tx_edit_name").val(asset.name);
                                        $("#tx_edit_type").val(asset.type);
                                        $("#tx_edit_plate").val(asset.plate);
                                        $("#tx_edit_status").val(asset.status);
                                        $("#tx_edit_mi").val(asset.mi);
                                        $("#tx_edit_miLastService").val(asset.mi_last_service);

                                        if(asset.mtto_last != null || asset.mtto_last != undefined){
                                            $("#tx_edit_mttoLast").val(asset.mtto_last.split('T')[0]);
                                        }
                                        
                                        if(asset.mtto_next != null || asset.mtto_next != undefined){
                                            $("#tx_edit_mttoNext").val(asset.mtto_next.split('T')[0]);
                                        }
                                        
                                        $("#tx_edit_notes").val(asset.notes);
                                        $("#tx_edit_up").val(asset.up);
                                        $("#btn_save_edit_asset").attr('data-id', asset.id);
                                    });
                                };

                                var onClickShow = function (e) {
                                    $($(this).attr("href")).modal("show", $(this));
                                };

                                $("#grid-basic")
                                    .find(".command-delete-asset")
                                        .on("click", onClickDelete)
                                    .end()
                                    .find(".command-edit-asset")
                                        .on("click", onClickEdit)
                                    .end()
                                    .find(".show-ticket")
                                        .on("click", onClickShow);
                            };

                            $("#grid-basic")
                                .bootgrid({
                                    caseSensitive: false,
                                    rowCount: [50,75,100,-1],
                                    labels: {
                                        search: "Search (Name, Type, Plate, etc.)"
                                    },
                                    formatters: {
                                        "commands": commandsFormatter
                                    }
                                })
                                .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
                        };

                        APP.EVENTS = APP.EVENTS || {
                            FRM_CSV: function () {
                                $('#frm_csv').on('submit', function (evt) {
                                    evt.preventDefault();
                                    return false;
                                });
                            },
                            BTN_CREATE_ASSET: function(){
                                $('#btn_create_asset').on('click', function(){
                                    var modalToOpen = $(this).attr('href');
                                    $(modalToOpen).modal('show', $(this));
                                });
                            },
                            BTN_CANCEL_ASSET: function(){
                                $('#btn_cancel_asset').on('click', function(){
                                    document.getElementById('frm_csv').reset();
                                });
                            },
                            BTN_SAVE_ASSET: function(){
                                $('#btn_save_asset').on('click', function(){
                                    APP.SERVICE.ASSETS.CREATE();
                                });
                            },
                            BTN_SAVE_EDIT_ASSET: function() {
                                $('#btn_save_edit_asset').on('click', function(){
                                    APP.SERVICE.ASSETS.UPDATE($(this).attr('data-id'));
                                });
                            },
                            INIT: function () {
                                $('li[id^="li_sdbr"]').removeClass('active');
                                $('li[id="li_sdbr_assets"]').addClass('active');
                                APP.EVENTS.BTN_CREATE_ASSET();
                                APP.EVENTS.BTN_CANCEL_ASSET();
                                APP.EVENTS.BTN_SAVE_ASSET();
                                APP.EVENTS.BTN_SAVE_EDIT_ASSET();
                                APP.EVENTS.FRM_CSV();
                                //$('li.active').removeClass('active');
                                //$('#AssetsSubmenu').parent().attr('class', 'active');
                            }
                        };

                        APP.addEventListener('load', function(){
                            APP.LOAD.SIDE_BAR();
                            APP.LOAD.UPS();
                            APP.LOAD.GRID();
                            APP.EVENTS.INIT();
                        });
                    })(window);
                </script>

</body>

</html>