<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Clients</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content" class="main-content">
            <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="../../administrative/clients">Clients</a></li> <!-- ../../ porque ahora la url tiene el Id del cliente -->
                    <li role="presentation"><a href="../../administrative/hr">Human resources</a></li>
                    <li role="presentation"><a href="../../administrative/drivers">Drivers</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <%if (client.length > 0) { %>
                                <%= client[0].name %>
                                <%= client[0].address %>
                            <% } %>
                        </div>
                    </div>


                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Locations</h4>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addLocationModal"> Add Location </button>
                            <table id='grid-locations' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">#</th>
                                        <th data-column-id="name" data-formatter="link">Name</th>
                                        <th data-column-id="status">Status</th>
                                        <th data-column-id="start">Start Date</th>
                                        <th data-column-id="end">End Date</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (locations.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<locations.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= locations[i].id %> </td>
                                            <td id=""> <%= locations[i].name %> </td>
                                            <td id=""> <%= locations[i].status %> </td>
                                            <td id=""> <%= locations[i].start_date %> </td>
                                            <td id=""> <%= locations[i].end_date %> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <!--<p>No locations</p>-->
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <h4>Facilities</h4>
                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addFacilitieModal"> Add Facilitie </button>
                                <table id='grid-facilities' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                    <thead>
                                        <tr>
                                            <th data-column-id="id" data-type="numeric">#</th>
                                            <th data-column-id="name">Name</th>
                                            <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                        </tr>
                                    </thead>
                                    <%if (facilities.length > 0) { %>
                                    <tbody>
                                        <% for(var i=0; i<facilities.length; i++) {%>
                                            <tr class="quote">
                                                <td id=""> <%= facilities[i].id %> </td>
                                                <td id=""> <%= facilities[i].name %> </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                    <% } else{ %>  
                                        <tbody>
                                            <!--<p>No products</p>-->
                                        </tbody>
                                    <% } %>
                                </table>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Products</h4>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addProductModal"> Add Product </button>
                            <table id='grid-products' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (products.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<products.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= products[i].id %> </td>
                                            <td id=""> <%= products[i].name %> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <!--<p>No products</p>-->
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Sands</h4>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addSandModal"> Add Sand </button>
                            <table id='grid-sands' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (sands.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<sands.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= sands[i].id %> </td>
                                            <td id=""> <%= sands[i].name %> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <!--<p>No sands</p>-->
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



<!-- Add Sand -->
<div class="modal fade" id="addSandModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Sand</h4>
        </div>
        <form role="form" id="addSandForm">
            <div class="modal-body">
                <div class="form-group">
                    <!-- TODO: agregar validacion y limpieza de caracteres para no guardar en la base de datos basura -->
                    <label for="sandName" class="h4 ">Name</label>
                    <input id="sandName" class="form-control" rows="5" required></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Product -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Product</h4>
        </div>
        <form role="form" id="addProductForm">
            <div class="modal-body">
                <div class="form-group">
                    <!-- TODO: agregar validacion y limpieza de caracteres para no guardar en la base de datos basura -->
                    <label for="productName" class="h4 ">Name</label>
                    <input id="productName" class="form-control" rows="5" required></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Facilitie -->
<div class="modal fade" id="addFacilitieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Facilitie</h4>
        </div>
        <form role="form" id="addFacilitieForm">
            <div class="modal-body">
                <div class="form-group">
                    <!-- TODO: agregar validacion y limpieza de caracteres para no guardar en la base de datos basura -->
                    <label for="facilitieName" class="h4 ">Name</label>
                    <input id="facilitieName" class="form-control" rows="5" required></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Add Location -->
<div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Location</h4>
        </div>
        <form role="form" id="addLocationForm">
            <div class="modal-body">
                <div class="form-group">
                    <!-- TODO: agregar validacion y limpieza de caracteres para no guardar en la base de datos basura -->
                    <label for="locationName" class="h4 ">Name</label>
                    <input id="locationName" class="form-control" rows="5" required></input>
                    <label for="locationGeo" class="h4 ">Geolocation</label>
                    <input id="locationGeo" class="form-control" rows="5" required></input>
                    <label for="locationStartDate" class="h4 ">Start date</label>
                    <input id="locationStartDate" class="form-control" rows="5" required type="date"></input>
                    <label for="locationEndDate" class="h4 ">End date</label>
                    <input id="locationEndDate" class="form-control" rows="5" required type="date"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>

    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>


    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };

            APP.LOAD.GRID_LOCATIONS = APP.LOAD.GRID_LOCATIONS || function(){

                var linkFormatter = function(column, row){
                    return "<a href='../locations/"+ row.id +"' class='text-center black-link'>" + row.name + "</a>";
                };  

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/deletelocation/',
                            type: 'PUT', //type is any HTTP method
                            data: {
                                locationId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                    };

                    $("#grid-locations")
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-locations")
                    .bootgrid({
                        caseSensitive: false,
                        formatters: {
                            "link": linkFormatter,
                            "commands": commandsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.LOAD.GRID_PRODUCTS = APP.LOAD.GRID_PRODUCTS || function(){

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/deleteproduct/',
                            type: 'PUT', //type is any HTTP method
                            data: {
                                productId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                    };

                    $("#grid-products")
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-products")
                    .bootgrid({
                        caseSensitive: false,
                        formatters: {
                            "commands": commandsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.LOAD.GRID_FACILITIES = APP.LOAD.GRID_FACILITIES || function(){

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/deletefacility/',
                            type: 'PUT', //type is any HTTP method
                            data: {
                                facilityId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                    };

                    $("#grid-facilities")
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-facilities")
                    .bootgrid({
                        caseSensitive: false,
                        formatters: {
                            "commands": commandsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.LOAD.GRID_SANDS = APP.LOAD.GRID_SANDS || function(){

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/deletesand/',
                            type: 'PUT', //type is any HTTP method
                            data: {
                                    sandId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                    };

                    $("#grid-sands")
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-sands")
                    .bootgrid({
                        caseSensitive: false,
                        formatters: {
                            "commands": commandsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.EVENTS = APP.EVENTS || {
                MODALS_SUBMIT: function(){

                    // Add Sand
                    $("#addSandForm").submit(function(event) {

                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/addsand/',
                            type: 'POST',
                            data: {
                                name: $("#sandName").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addSandModal').modal('hide');
                        refreshPage();
                    });

                    // Add product
                    $("#addProductForm").submit(function(event) { 
                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/addproduct/',
                            type: 'POST',
                            data: {
                                name: $("#productName").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addProductModal').modal('hide');
                        refreshPage();
                    });

                    // Add facilitie
                    $("#addFacilitieForm").submit(function(event) { 
                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/addfacilitie/',
                            type: 'POST',
                            data: {
                                name: $("#facilitieName").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addFacilitieModal').modal('hide');
                        refreshPage();
                    });

                    // Add location
                    $("#addLocationForm").submit(function(event) { 
                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/addlocation/',
                            type: 'POST',
                            data: {
                                name: $("#locationName").val(),
                                geolocation: $("#locationGeo").val(),
                                startDate: $("#locationStartDate").val(),
                                endDate: $("#locationEndDate").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addLocationModal').modal('hide');
                        refreshPage();
                    });

                },
                INIT: function(){
                    APP.EVENTS.MODALS_SUBMIT();
                }
            };
             
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID_LOCATIONS();
            APP.LOAD.GRID_PRODUCTS();
            APP.LOAD.GRID_FACILITIES();
            APP.LOAD.GRID_SANDS();
            APP.EVENTS.INIT();
        })(window);
    </script>


</body>
</html>