<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Clock in</title>
</head>

<body>

        <%include ../partials/navbar %>
        
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <%include ../partials/sidebar %>
    
                <!-- Page Content Holder -->
        <div id="content" class="main-content">
            <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation"><a href="../administrative/drivers">Drivers</a></li>
                    <li role="presentation" class="active"><a href="../administrative/clockin">Clockin</a></li>
            </ul>
            </ul>
            <div class="tab-content"> 
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Clockin</h4>
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" id=''>
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-width="10%">#</th>
                                        <th data-column-id="name" data-formatter="link">Name</th>
                                        <th data-column-id="in">In</th>
                                        <th data-column-id="out">Out</th>
                                        <th data-column-id="hours">Hours worked</th>
                                        <th data-column-id="shift">Shift</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(!clockin || !clockin.length || clockin.length == 0){ %>
                                        <tr>
                                            <td>
                                                <span>No assets found</span>
                                            </td>
                                        </tr>
                                    <% } else { %>
                                        <% clockin.forEach((entry) => { %>
                                            <tr class="quote">
                                                <td id="">
                                                    <%= entry.id %>
                                                </td>
                                                <td id="">
                                                    <%= entry.name || 'Name not available' %>
                                                </td>
                                                <td id="">
                                                    <%= entry.in || 'No information available' %>
                                                </td>
                                                <td id="">
                                                    <%= entry.out || 'No information available' %>
                                                </td>
                                                <td id="">
                                                    <%= entry.hours_worked || 'No information available' %>
                                                </td>
                                                <td id="">
                                                    <%= entry.shift || 'No shift available' %>
                                                </td>
                                                <td id="">
                                                    
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            </div>
    


<%include ../partials/js %>

<script type="text/javascript">
    (function (APP) {
        APP.SERVICE = APP.SERVICE || {};

        APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};



        APP.LOAD = APP.LOAD || {};
        //page load functionality first!
        APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        };
        //Obtiene los drivers, trucks and trailers que estan disponibles
        APP.LOAD.UPS = APP.LOAD.UPS || function () {
            APP.SERVICE.DISPATCHER.GET_UPS();
        };
        APP.LOAD.GRID = APP.LOAD.GRID || function () {
            var commandsFormatter = function (column, row) {
                return "<button type=\"button\" class=\"btn btn-md btn-default command-edit-asset\" data-row-id=\"" + row.id + "\">Edit</button>" +
                    "<button type=\"button\" class=\"btn btn-md btn-default command-delete-asset\" data-row-id=\"" + row.id + "\">Delete</button> ";
            };
            var loadedRsJQueryBootgrid = function () {
                var onClickEdit = function(e) {
                    APP.SERVICE.ASSETS.FIND_BY_ID($(this).attr('data-row-id'), function (asset) {
                        asset = asset[0];
                        $("#dv_edit_asset").modal('show',  $("#dv_edit_asset"));
                        $("#tx_edit_name").val(asset.name);
                        $("#tx_edit_type").val(asset.type);
                        $("#tx_edit_plate").val(asset.plate);
                        $("#tx_edit_status").val(asset.status);
                        $("#tx_edit_mi").val(asset.mi);
                        $("#tx_edit_miLastService").val(asset.mi_last_service);
                        if(asset.mtto_last != null || asset.mtto_last != undefined){
                            $("#tx_edit_mttoLast").val(asset.mtto_last.split('T')[0]);
                        }
                        
                        if(asset.mtto_next != null || asset.mtto_next != undefined){
                            $("#tx_edit_mttoNext").val(asset.mtto_next.split('T')[0]);
                        }
                        
                        $("#tx_edit_notes").val(asset.notes);
                        $("#tx_edit_up").val(asset.up);
                        $("#btn_save_edit_asset").attr('data-id', asset.id);
                    });
                };
                var onClickShow = function (e) {
                    $($(this).attr("href")).modal("show", $(this));
                };
                $("#grid-basic")
                    .find(".command-edit-asset")
                        .on("click", onClickEdit)
                    .end()
                    .find(".show-ticket")
                        .on("click", onClickShow);
            };
            $("#grid-basic")
                .bootgrid({
                    formatters: {
                        "commands": commandsFormatter
                    }
                })
                .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
        };
        APP.EVENTS = APP.EVENTS || {


            INIT: function () {

            }
        };
        APP.LOAD.SIDE_BAR();
        APP.LOAD.GRID();
        APP.EVENTS.INIT();
    })(window);
</script>

</body>
</html>