<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Completed</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content" class="main-content">
            <%include ../partials/up %>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="../dispatcher/tobeassigned">To be Assigned</a></li>
                <li role="presentation"><a href="../dispatcher/workinprogress">Work in progress</a></li>
                <li role="presentation" class="active"><a href="../dispatcher/completed">Completed</a></li>
                <li role="presentation"><a href="../dispatcher/divert">Divert</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <table id="grid-basic" border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-width="5%">Id</th>
                                        <th data-column-id="ticket_id" data-type="numeric" data-width="8%">Ticket No.</th>
                                        <th data-column-id="tms" data-formatter="link" data-type="numeric"  data-width="8%">Load</th>
                                        <th data-column-id="loading_date_formatted"data-width="10%">Loading date</th> <!-- Substatus en la DB (on my way to facility, etc) -->
                                        <th data-column-id="facility" data-width="18%">Facility</th>
                                        <th data-column-id="location" data-width="18%">Location</th>
                                        <th data-column-id="drivers"  data-formatter="drivers">Driver</th>
                                        <th data-column-id="products" data-formatter="products" data-width="10%">Sand</th>
                                        <th data-column-id="substatus">Substatus</th>
                                        <th data-column-id="customer">Customer</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">To validate</th>
                                    </tr>
                                </thead>
                                <%if (tickets.length > 0) { %>
                                <tbody>
                                <% for(var i=0; i<tickets.length; i++) {%>
                                    <%if (tickets[i].status == 3) { %> <!-- status:3 completed -->
                                    <tr class="quote">
                                        <td><%= tickets[i].id %></td>
                                        <td><%= tickets[i].ticket_id %></td>
                                        <td><%= tickets[i].tms %></td>
                                        <td><%= tickets[i].loading_date_formatted %> </td>
                                        <td><%= tickets[i].facility %></td>
                                        <td><%= tickets[i].location %></td>
                                        <td><%= tickets[i].driver_name %></td>
                                        <td><%= tickets[i].product %></td>
                                        <td>
                                            <%if (tickets[i].substatus == 0) { %>
                                                ASSIGNED
                                            <% } else if(tickets[i].substatus == 1) { %>
                                                ON MY WAY TO FACILITY
                                            <% } else if(tickets[i].substatus == 2) { %>
                                                ARRIVED TO FACILITY
                                            <% } else if(tickets[i].substatus == 3) { %>
                                                LOADING
                                            <% } else if(tickets[i].substatus == 4) { %>
                                                ON MY WAY TO LOCATION
                                            <% } else if(tickets[i].substatus == 5) { %>
                                                ARRIVED TO LOCATION
                                            <% } else if(tickets[i].substatus == 6) { %>
                                                UNLOADING
                                            <% } else if(tickets[i].substatus == 7) { %>
                                                FINISHED
                                            <% } %>
                                        </td>
                                        <td><%= tickets[i].customer %></td>
                                        <td></td>
                                    </tr>
                                    <% } %>
                                <% } %>
                            </tbody>
                            <% } else{ %>  
                                <tbody>
                                    <p>No tickets in this category</p>
                                </tbody>
                            <% } %>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="select_all" type="button" class="btn btn-secondary pull-right">Select All</button>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="validate" type="button" class="btn btn-secondary pull-right">Validate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>

    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>

    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        function callEndpoint() {
            $.getJSON('/api/dispatcher/getUps', function(data) {

                $('#trailersUp').html(data.trailersUp);
                $('#trucksUp').html(data.trucksUp);
                $('#driversUp').html(data.driversUp);

            });
        }

        function gridLoadedAware(){
            $("#grid-basic")
                .find(".command-edit")
                .on("click", function(){})
                .end()
                .find(".show-ticket").on("click", function(e) {
                    $($(this).attr("href")).modal("show", $(this));
                });
        }

        function gridAware(){
            $("#grid-basic")
                .bootgrid({
                    caseSensitive: false,
                    rowCount: [50,75,100,-1],
                    selection: true,
                    rowSelect: true,
                    multiSelect: true,
                    keepSelection: true,
                    
                    formatters: {
                        "link": function(column, row){
                            return "<a href=\"#myModal\" data-toggle=\"modal\" data-ticket=\"" + row.id +  "\" class=\"text-center black-link show-ticket\">" + row.tms + "</a>";
                        },
                        "commands": function(column, row){
                            return "<input class=\"validate\" type=\"checkbox\" value=\"" + row.id + "\"></label>" 
                        }
                    }
                })
                .on("loaded.rs.jquery.bootgrid", gridLoadedAware);
        }

        function validateClickAware(){
            var ticketList = [];

            $('.validate:checkbox:checked').each(function() {
                ticketList.push($(this).val());
            });

            if (ticketList != ''){
                $.ajax({
                    url: '/api/dispatcher/completeTicket/',    //Your api url
                    type: 'PUT',   //type is any HTTP method
                    data: {
                            ticketId: ticketList

                    },      //Data as js object
                    success: function (msj) {
                        alert(msj.message);
                        location.reload();
                    },
                    error: function(xhr) { // if error occured
                        alert("Error occured. please try again");
                    },
                });
            }else {
                alert("No ticket(s) selected");
            }
        }
        
        function validateAware(){
            $("#validate").on('click', validateClickAware);
        }

        function init(){
            callEndpoint();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            $('li[id="li_sdbr_dispatch"]').addClass('active');

            $('#select_all').click(function() {
                $('.validate:checkbox').prop('checked', true);
            });

            gridAware();
            validateAware();
        }

        window.addEventListener('load', init);
    </script>

</body>
</html>
