<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Drivers</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content" class="main-content">
            <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation" class="active"><a href="../administrative/drivers">Drivers</a></li>
                    <li role="presentation"><a href="../administrative/clockin">Clockin</a></li>
                    
            </ul>
            <div class="tab-content"> 
                <div class="content">

                    <br/>
                    <div class="row">
                        <div class="col-md-4">Trucks Available: <span class="badge"> <%= onlineOffile[0].trucks_online %> </span></div>
                        <div class="col-md-4">Trailers Available: <span class="badge"> <%= onlineOffile[0].trailers_online %> </span></div>
                        <div class="col-md-4">Drivers Online: <span class="badge"> <%= onlineOffile[0].drivers_online %> </span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Trucks Unavailable: <span class="badge"> <%= onlineOffile[0].trucks_offline %> </span></div>
                        <div class="col-md-4">Trailers Unavailable: <span class="badge"> <%= onlineOffile[0].trailers_offline %> </span></div>
                        <div class="col-md-4">Drivers Offline: <span class="badge"> <%= onlineOffile[0].drivers_offline %> </span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Drivers</h4>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addDriverModal">Add driver</button>
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-width="10%">#</th>
                                        <th data-column-id="name" data-formatter="link">Name</th>
                                        <th data-column-id="shift">License</th>
                                        <th data-column-id="type">Type</th>
                                        <th data-column-id="status">Status</th>
                                    </tr>
                                </thead>
                                <%if (drivers.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<drivers.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= drivers[i].id %> </td>
                                            <td id=""> <%= drivers[i].name %> </td>
                                            <td id=""> <%= drivers[i].license %> </td>
                                            <td id=""> <%= drivers[i].type %> </td>
                                            <td id=""> 
                                                <%if (drivers[i].up == 1) { %>
                                                    On line
                                                <% } %>
                                                <%if (drivers[i].up == 0) { %>
                                                    Off line
                                                <% } %>
                                            </td>
                                            <td id=""> </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<!-- Add Driver -->
<div class="modal fade" id="addDriverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Driver</h4>
        </div>
        <form role="form" id="addHrForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="h4 ">Name</label>
                        <input id="name" class="form-control" required></input>
                        <label for="address" class="h4 ">Address</label>
                        <input id="address" class="form-control" required></input>
                        <label for="tel" class="h4 ">Phone</label>
                        <input id="tel" class="form-control" required type="tel"></input>
                        <label for="birth" class="h4 ">Date of birth</label>
                        <input id="birth" class="form-control" required type="datetime-local"></input>
                        <label for="civilStatus" class="h4 ">Civil status</label>
                        <select id="civilStatus" class="form-control">
                            <option value="SINGLE">Single</option>
                            <option value="MARRIED">Married</option>
                            <option value="DIVORCED">Divorced</option>
                            <option value="SEPARATED">Separated</option>
                            <option value="WIDOWED">Widowed</option>
                        </select>
                        <label for="email" class="h4 ">email</label>
                        <input id="email" class="form-control" required type="email"></input>
                        <label for="laborStatus" class="h4 ">Labor status</label>
                        <select id="laborStatus" class="form-control">
                            <option value="EMPLOYED">Employed</option>
                            <option value="TERMINATED">Terminated</option>
                        </select>
                        <label for="type" class="h4 ">Type</label>
                        <select id="type" class="form-control">
                            <option value="DRIVER">Company Driver</option>
                            <option value="HELPER TRUCK">Helper Truck</option>
                            <option value="OWNER OPERATOR">Owner Operator</option>
                        </select>
                        <label for="crew" class="h4">Crew</label>
                        <select id="crew" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <label for="shift" class="h4">Shift</label>
                        <select id="shift" class="form-control">
                            <option value="AM">am</option>
                            <option value="PM">pm</option>
                        </select>
                        <label for="rate" class="h4 ">Rate % (example 10 = 10%)</label>
                        <input type="number" class="form-control" id="rate" min="0" max="100" required>
                        <label for="paymentMethod" class="h4 ">Payment Method</label>
                        <select id="shift" class="form-control" required>
                            <option value="PAY PER CHECK">Pay per Check</option>
                            <option value="DIRECT DEPOSIT">Direct Deposit</option>
                        </select>
                        <label for="bankAccount" class="h4 ">Bank Account</label>
                        <input id="bankAccount" class="form-control" required></input>
                        <label for="routingNumber" class="h4 ">Routing Number</label>
                        <input id="routingNumber" class="form-control" required></input>
                    </div>
                    <div class="col-md-6">
                        <!--<label for="position" class="h4 ">Position</label>  no se necesita porque el valor siempre va hidden y es DRIVER-->
                        <input id="position" class="form-control" type="hidden" value="DRIVER"></input> <!-- Se agrego la posicion como hidden input value DRIVER -->
                        
                        <label for="user" class="h4 ">user</label>
                        <input id="user" class="form-control" required></input>
                        <label for="password" class="h4 ">Password</label>
                        <input id="password" class="form-control" required></input>
                        <label for="mcExp" class="h4 ">Medical card expiration date</label>
                        <input id="mcExp" class="form-control" required type="datetime-local"></input>
                        <label for="licence" class="h4 ">Licence No.</label>
                        <input id="licence" class="form-control" required type="text"></input>
                        <label for="licenceClass" class="h4 ">Licence Class</label>
                        <input id="licenceClass" class="form-control" required type="text"></input>
                        <label for="licenseExp" class="h4 ">License expiration date</label>
                        <input id="licenseExp" class="form-control" required type="datetime-local"></input>
                        <label for="state" class="h4 ">State</label>
                        <input id="state" class="form-control" required></input>
                        <label for="hireDate" class="h4 ">Hire date</label>
                        <input id="hireDate" class="form-control" required type="datetime-local"></input>
                        <label for="experience" class="h4 ">Experience Years</label>
                        <input id="experience" class="form-control" required type="datetime-local"></input>
                        <label for="ssn" class="h4 ">SSN</label>
                        <input id="ssn" class="form-control" required></input>
                        <label for="contact1" class="h4 ">Emergency contact Name</label>
                        <input id="contacta1" class="form-control" type="text"></input>
                        <label for="contacta2" class="h4 ">Emergency contact Phone</label>
                        <input id="contacta2" class="form-control" type="tel"></input>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-secondary">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Driver Detail -->
<div class="modal fade" id="editDriverModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Driver details</h4>
        </div>
        <div class="modal-body">
        <div id="to-print">
            <div class="row">
                <div class="col-md-6">
                    <p>Name <span id="editName"> </span></p>
                    <p>Address <span id="editAddress"> </span></p>
                    <p>Phone <span id="editTel"> </span></p>
                    <p>Date of birth <span id="editBrith"> </span></p>
                    <p>Civil status <span id="editCivilStatus"> </span></p>
                    <p>email <span id="editEmail"> </span></p>
                    <p>Labor status <span id="editLaborStatus"> </span></p>
                    <p>Type <span id="editType"> </span></p>
                    <p>Crew <span id="editCrew"> </span></p>
                    <p>Shift <span id="editShift"> </span></p>
                    <p>Rate <span id="editRate"> </span></p>
                    <p>Payment Method <span id="editPaymentMethod"> </span></p>
                    <p>Bank Account <span id="editBankAccount"> </span></p>
                    <p>Routing Number <span id="editRoutingNumber"> </span></p>
                </div>
                <div class="col-md-6">
                    <p>User <span id="editUser"> </span></p>
                    <p>Password <span id="editPassword"> </span></p>
                    <p>Medical card expiration date <span id="editMcExp"> </span></p>
                    <p>License No. <span id="editLicense"> </span></p>
                    <p>License Class <span id="editLicenseClass"> </span></p>
                    <p>License expiration date <span id="editLicenseExp"> </span></p>
                    <p>State <span id="editState"> </span></p>
                    <p>Hire date <span id="editHireDate"> </span></p>
                    <p>Experience Years <span id="editExperienceYears"> </span></p>
                    <p>SSN <span id="editSsn"> </span></p>
                    <p>Emergency contact Name <span id="editContact1"> </span></p>
                    <p>Emergency contact Phone <span id="editContact2"> </span></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="hr-to-pdf" type="button" class="btn btn-success" >Download</button>
        </div>
        </div>
    </div>
</div>


    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <% include ../partials/js %>

    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };
            
            APP.LOAD.GRID = APP.LOAD.GRID || function(){

                var linkFormatter = function(column, row){
                    return "<a href=\"#editDriverModal\" data-toggle=\"modal\" data-driver=\"" + row.id +  "\" class=\"text-center black-link show-edit-driver\">" + row.name + "</a>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onEditHrShow = function(e){
                        $($(this).attr("href")).modal("show", $(this));
                    };

                    $("#grid-basic")
                        .find(".show-edit-driver")
                        .on("click", onEditHrShow);
                };

                $("#grid-basic")
                    .bootgrid({
                        caseSensitive: false,
                        rowCount: [50,75,100,-1],
                        formatters: {
                            "link": linkFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.EVENTS = APP.EVENTS || {
                MODALS_SUBMIT: function(){
                    // Add HR
                    $("#addHrForm").submit(function(event) {
                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/adddriver/',
                            type: 'POST',
                            data: {
                                name: $("#name").val(),
                                address: $("#address").val(),
                                tel: $("#tel").val(),
                                civilStatus: $("#civilStatus").val(),
                                email: $("#email").val(),
                                contact1: $("#contacta1").val(),
                                contact2: $("#contacta2").val(),
                                birth: $("#birth").val(),
                                laborStatus: $("#laborStatus").val(),
                                position: $("#position").val(),
                                rate: $("#rate").val(),
                                mcExp: $("#mcExp").val(),
                                ssn: $("#ssn").val(),
                                type: $("#type").val(),
                                crew: $("#crew").val(),
                                shift: $("#shift").val(),
                                user: $("#user").val(),
                                password: $("#password").val(),
                                license: $("#licence").val(),
                                licenseExp: $("#licenseExp").val(),
                                state: $("#state").val(),
                                hireDate: $("#hireDate").val(),
                                licenseClass: $("#licenseClass").val(),
                                paymentMethod: $("#paymentMethod").val(),
                                bankAccount: $("#bankAccount").val(),
                                routingNumer: $("#routingNumer").val(),
                                experience: $("#experience").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addSandModal').modal('hide');
                        refreshPage();
                    });
                },
                INIT: function(){
                    $('li[id="li_sdbr_administrative"]').addClass('active');
                    APP.EVENTS.MODALS_SUBMIT();
                }
            };
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID();
            APP.EVENTS.INIT();
        })(window);
    </script>

    <% include ../partials/drivers-detail %>


    <script>
        $( document ).ready(function() {
            $('#editDriverModal').on('shown.bs.modal', function (e) {

                var $trigger = $(e.relatedTarget);
                
                // Obtiene el detalle del ticket
                $.getJSON('/api/administrative/getHrDetail/' + $trigger.data('driver'), function(data) {
    

                    $('#editName').html(
                        "<strong><a id='updateName' data-pk='" + data.hr[0].id + "' data-title='Update name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='name'>"+data.hr[0].name+"</a></strong>"    
                    );
                    $('#editAddress').html(
                        "<strong><a id='updateAddress' data-pk='" + data.hr[0].id + "' data-title='Update address' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='address'>"+data.hr[0].address+"</a></strong>"
                    );
                    $('#editTel').html(
                        "<strong><a id='updateTel' data-pk='" + data.hr[0].id + "' data-title='Update tel' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='tel'>"+data.hr[0].tel+"</a></strong>"
                    );
                    $('#editBrith').html(
                        "<strong><a id='updateBrith' data-pk='" + data.hr[0].id + "' data-title='Update birthdate' "+
                        "data-type='datetime-local' class='black-link' "+
                        "href='#' data-name='birthdate'>"+data.hr[0].birthdate+"</a></strong>"
                    );
                    $('#editCivilStatus').html(
                        "<strong><a id='updateCivilStatus' data-pk='" + data.hr[0].id + "' data-title='Update civil status' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='civil_status'>"+data.hr[0].civil_status+"</a></strong>"
                    );
                    $('#editEmail').html(
                        "<strong><a id='updateEmail' data-pk='" + data.hr[0].id + "' data-title='Update email' "+
                        "data-type='email' class='black-link' "+
                        "href='#' data-name='email'>"+data.hr[0].email+"</a></strong>"
                    );
                    $('#editContact1').html(
                        "<strong><a id='updateContact1' data-pk='" + data.hr[0].id + "' data-title='Update contact Name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='contact1'>"+data.hr[0].contact1+"</a></strong>"
                    );
                    $('#editContact2').html(
                        "<strong><a id='updateContact2' data-pk='" + data.hr[0].id + "' data-title='Update contact Phone' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='contact2'>"+data.hr[0].contact2+"</a></strong>"
                    );
                    $('#editLaborStatus').html(
                        "<strong><a id='updateLaborStatus' data-pk='" + data.hr[0].id + "' data-title='Update labor status' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='labor_status'>"+data.hr[0].labor_status+"</a></strong>"
                    );
                    $('#editType').html(
                        "<strong><a id='updateType' data-pk='" + data.hr[0].id + "' data-title='Update type' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='type'>"+data.hr[0].type+"</a></strong>"
                    );
                    $('#editCrew').html(
                        "<strong><a id='updateCrew' data-pk='" + data.hr[0].id + "' data-title='Update crew' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='crew'>"+data.hr[0].crew+"</a></strong>"
                    );
                    $('#editShift').html(
                        "<strong><a id='updateShift' data-pk='" + data.hr[0].id + "' data-title='Update shift' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='shift'>"+data.hr[0].shift+"</a></strong>"
                    );
                    $('#editRate').html(
                        "<strong><a id='updateRate' data-pk='" + data.hr[0].id + "' data-title='Update rate' "+
                        "data-type='select' step='0.01' value='0.00' class='black-link' "+
                        "href='#' data-name='rate'>"+ data.hr[0].rate +" %</a></strong>" // El rate en los drivers es un porcentage asi que le damos formato
                    );
                    $('#editUser').html(
                        "<strong><a id='updateUser' data-pk='" + data.hr[0].id + "' data-title='Update user' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='username'>"+data.hr[0].username+"</a></strong>"
                    );
                    $('#editPassword').html(
                        "<strong><a id='updatePassword' data-pk='" + data.hr[0].id + "' data-title='Update password' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='password'>"+data.hr[0].password+"</a></strong>"
                    );
                    $('#editMcExp').html(
                        "<strong><a id='updateMcExp' data-pk='" + data.hr[0].id + "' data-title='Update medical card expiration date' "+
                        "data-type='datetime-local' class='black-link' "+
                        "href='#' data-name='mc_exp'>"+data.hr[0].mc_exp+"</a></strong>"
                    );
                    $('#editLicense').html(
                        "<strong><a id='updateLicense' data-pk='" + data.hr[0].id + "' data-title='Update license' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='license'>"+data.hr[0].license+"</a></strong>"
                    );
                    $('#editLicenseExp').html(
                        "<strong><a id='updateLicenseExp' data-pk='" + data.hr[0].id + "' data-title='Update license expiration date' "+
                        "data-type='datetime-local' class='black-link' "+
                        "href='#' data-name='license_exp'>"+data.hr[0].license_exp+"</a></strong>"
                    );
                    $('#editLicenseClass').html(
                        "<strong><a id='updateLicenseClass' data-pk='" + data.hr[0].id + "' data-title='Update license class' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='license_class'>"+data.hr[0].license_class+"</a></strong>"
                    );
                    $('#editState').html(
                        "<strong><a id='updateState' data-pk='" + data.hr[0].id + "' data-title='Update state' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='state'>"+data.hr[0].state+"</a></strong>"
                    );
                    $('#editHireDate').html(
                        "<strong><a id='updateHireDate' data-pk='" + data.hr[0].id + "' data-title='Update years working' "+
                        "data-type='datetime-local' class='black-link' "+
                        "href='#' data-name='hire_date'>"+data.hr[0].hire_date+"</a></strong>"
                    );
                    $('#editExperienceYears').html(
                        "<strong><a id='updateExperienceYears' data-pk='" + data.hr[0].id + "' data-title='Update Experience Years' "+
                        "data-type='datetime-local' class='black-link' "+
                        "href='#' data-name='experience'>"+data.hr[0].experience+"</a></strong>"
                    );
                    $('#editSsn').html(
                        "<strong><a id='updateSsn' data-pk='" + data.hr[0].id + "' data-title='Update ssn' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='ssn'>"+data.hr[0].ssn+"</a></strong>"
                    );

                    $('#editLinceClass').html(
                        "<strong><a id='updateLicenceClass' data-pk='" + data.hr[0].id + "' data-title='Update License Class' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='license_class'>"+data.hr[0].license_class+"</a></strong>"
                    );
                    $('#editExperience').html(
                        "<strong><a id='updateExperience' data-pk='" + data.hr[0].id + "' data-title='Update Experience' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='experience'>"+data.hr[0].experience+"</a></strong>"
                    );
                    $('#editPaymentMethod').html(
                        "<strong><a id='updatePaymentMethod' data-pk='" + data.hr[0].id + "' data-title='Update Payment Method' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='payment_method'>"+data.hr[0].payment_method+"</a></strong>"
                    );
                    $('#editBankAccount').html(
                        "<strong><a id='updateBankAccount' data-pk='" + data.hr[0].id + "' data-title='Update Bank Account' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='bank_account'>"+data.hr[0].bank_account+"</a></strong>"
                    );
                    $('#editRoutingNumber').html(
                        "<strong><a id='updateRoutingNumber' data-pk='" + data.hr[0].id + "' data-title='Update RoutingNumber' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='routing_number'>"+data.hr[0].routing_number+"</a></strong>"
                    );
    
                    // x-editable
                    $('#updateName, #updateAddress, #updateTel, #updateEmail, #updateContact1, #updateContact2, #updateLicense, #updateSsn, #updateUser, #updatePassword, #updateState, #updateLicenceClass, #updateBankAccount, #updateRoutingNumber, #updateLicenseClass').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                        
                    });

                    $('#updateRate').editable({ 
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: ".15", text: '15%'},
                            {value: ".20", text: '20%'},
                            {value: ".25", text: '25%'},
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                    });

                    $('#updatePaymentMethod').editable({ 
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "PAY PER CHECK", text: 'Pay per Check'},
                            {value: "DIRECT DEPOSIT", text: 'Direct Deposit'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                    });

                    $('#updateCrew').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "1", text: '1'},
                            {value: "2", text: '2'},
                            {value: "3", text: '3'},
                            {value: "4", text: '4'},
                            {value: "5", text: '5'},
                            {value: "6", text: '6'},
                            {value: "7", text: '7'},
                            {value: "8", text: '8'},
                            {value: "9", text: '9'},
                            {value: "10", text: '10'},
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                    });

                    $('#updateShift').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "AM", text: 'am'},
                            {value: "PM", text: 'pm'},
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                    });
                    

                    $('#updateCivilStatus').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "SINGLE", text: 'Single'},
                            {value: "MARRIED", text: 'Maried'},
                            {value: "DIVORCED", text: 'Divorced'},
                            {value: "SEPARATED", text: 'Separated'},
                            {value: "WIDOWED", text: 'Widowed'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateBrith, #updateMcExp, #updateLicenseExp, #updateHireDate, #updateExperienceYears').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        format: 'yyyy-mm-dd',    
                        viewformat: 'mm-dd-yyyy',    
                        datepicker: {
                                weekStart: 1
                        },
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateLaborStatus').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "WORKING WITH US", text: 'Working with us'},
                            {value: "NOT WORKING WITH US", text: 'Not working with us'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateType').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "DRIVER", text: 'Driver'},
                            {value: "HELPER TRUCK", text: 'Helper truck'},
                            {value: "OWNER OPERATOR", text: 'Owner operator'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });
                });

            })
            
            // Recarga la pagina para que se vean los cambios
            $('#editDriverModal').on('hide.bs.modal', function (e) {
                location.reload();
            });

            $('#hr-to-pdf').on('click', function(){
                /*
                * Por las prisas se genera este PDF con addHTML. Hay que ver si no la hacen de pedo por la calidad de la imagen
                * Aqui esta un ejemplo que hay que estudiar, parece que tiene todo lo que necesitamos https://codepen.io/LittleViolette/pen/begBbe
                */
                var pdf = new jsPDF('p', 'pt', 'letter');

                var options = {
                    pagesplit: true,
                    background: '#ffffff',
                    pagesplit: true
                }

                var nombre = $('#editName').text()
                
                pdf.addHTML($('#to-print')[0], 40, 40, options, function () {
                    pdf.save(nombre + '.pdf');
                });
            });
        });
    </script>

</body>
</html>
