<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Drivers</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation" class="active"><a href="../administrative/drivers">Drivers</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">

                    <br/>
                    <div class="row">
                        <div class="col-md-4">Trucks Available: <span class="badge"> <%= onlineOffile[0].trucks_online %> </span></div>
                        <div class="col-md-4">Trailers Available: <span class="badge"> <%= onlineOffile[0].trailers_online %> </span></div>
                        <div class="col-md-4">Drivers Online: <span class="badge"> <%= onlineOffile[0].drivers_online %> </span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Trucks Unavailable: <span class="badge"> <%= onlineOffile[0].trucks_offline %> </span></div>
                        <div class="col-md-4">Trailers Unavailable: <span class="badge"> <%= onlineOffile[0].trailers_offline %> </span></div>
                        <div class="col-md-4">Drivers Offline: <span class="badge"> <%= onlineOffile[0].drivers_offline %> </span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Drivers</h4>
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="shift">Shift</th>
                                        <th data-column-id="type">Type</th>
                                        <th data-column-id="status">Status</th>
                                        <th data-column-id="options" data-formatter="link" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (drivers.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<drivers.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= drivers[i].id %> </td>
                                            <td id=""> <%= drivers[i].name %> </td>
                                            <td id=""> <%= drivers[i].shift %> </td>
                                            <td id=""> <%= drivers[i].type %> </td>
                                            <td id=""> 
                                                <%if (drivers[i].up == 1) { %>
                                                    On line
                                                <% } %>
                                                <%if (drivers[i].up == 0) { %>
                                                    Off line
                                                <% } %>
                                            </td>
                                            <td id=""> </a>
                                            </td>
                                            <td id=""> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <% include ../partials/js %>

    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };
            
            APP.LOAD.GRID = APP.LOAD.GRID || function(){

                var linkFormatter = function(column, row){
                    return "<a href=\"#myModal\" data-toggle=\"modal\" data-ticket=\"" + row.id +  "\" class=\"text-center black-link show-ticket\">Edit</a>";
                };

                var commandsFormatter = function(column, row) {    
                    //return "<a href='#myModal' data-toggle='modal' data-ticket='" + row.id + "' class='text-center black-link'><p><span class='fa fa-pencil'></p></span></a>";
                };

                var loadedRsJQueryBootgrid = function(){
                    /* Executes after data is loaded and rendered */
                    var onClickEdit = function(e){

                        alert("edit");
                    };

                    $("#grid-basic")
                        .find(".command-edit")
                        .on("click", onClickEdit)
                        .end();
                };

                $("#grid-basic")
                    .bootgrid({
                        labels: {
                            search: "Search"
                        },
                        formatters: {
                            "commands": commandsFormatter,
                            "link": linkFormatter
                        },
                        caseSensitive: false
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID();
        })(window);
    </script>

    <% include ../partials/drivers-detail %>


</body>
</html>