<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Human Resources</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation" class="active"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation"><a href="../administrative/drivers">Drivers</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">
                    
                    <div class="row">
                    </div>


                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="tel">Telephone</th>
                                        <th data-column-id="licence">License</th>
                                        <th data-column-id="laborstatus" data-formatter="laborstatus">Labor Status</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (hr.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<hr.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= hr[i].id %> </td>
                                            <td id=""> <%= hr[i].name %> </td>
                                            <td id=""> <%= hr[i].tel %> </td>
                                            <td id=""> <%= hr[i].license %> </td>
                                            <td id=""> 
                                                <a data-pk="<%= hr[i].id %>" 
                                                    data-xedit="true"
                                                    data-title="Change working status" 
                                                    data-type="select" 
                                                    data-url="/" 
                                                    href="#" 
                                                    class="black-link"
                                                    id="edit-workingstatus-<%= hr[i].id %>"><%= hr[i].labor_status %>
                                                </a>
                                            </td>
                                            <td id=""> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <p>No hr</p>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>


    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };
            
            APP.LOAD.GRID = APP.LOAD.GRID || function(){

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> " + 
                            "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
                };

                var laborstatusFormatter = function(column, row) {
                    return "<%if (hr.length > 0) { %>" +
                            "<%for(var i=0; i<hr.length; i++) {%> " +
                            "<a data-pk='<%= hr[i].id %>' " +
                                "data-title='Change working status' " +
                                "data-type='select' " +
                                "data-url='/' " +
                                "href='#' " +
                                "class='black-link' " +
                                "id=¿edit-workingstatus-<%= hr[i].id %>¿><%= hr[i].labor_status %>" +
                            "</a>" +
                            "<% }%>" +
                            "<% }%>"

                };

                var loadedRsJQueryBootgrid = function(){
                    /* Executes after data is loaded and rendered */
                    var onClickEdit = function(e){

                        alert("edit");
                    };

                    $('[data-xedit]').each(function(entry){    
                        entry.editable({
                        type: 'text',
                        name: 'score',
                        url: "...someurl",      
                        title: 'Enter score'
                        });
                    })

                    var onClickDelete = function(e){
                        $.ajax({
                            url: '/api/administrative/delete/',    //Your api url
                            type: 'PUT',   //type is any HTTP method
                            data: {
                                    clientId: $(this).data("row-id")
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload();
                            },
                            error: function(xhr) { // if error occured
                                alert("Error occured. please try again");
                            },
                        });
                        alert("delete");
                    };

                    $("#grid-basic")
                        .find(".command-edit")
                        .on("click", onClickEdit)
                        .end()
                        .find(".command-delete")
                        .on("click", onClickDelete);
                };

                $("#grid-basic")
                    .bootgrid({
                        labels: {
                            search: "Search"
                        },
                        formatters: {
                            "commands": commandsFormatter,
                            //"laborstatus": laborstatusFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.SERVICE.ADMINISTRATIVE.CHANGE_LABOR_STATUS = APP.SERVICE.ADMINISTRATIVE.CHANGE_LABOR_STATUS || function(){

                var source = [];
                var obj = {};
                obj["value"] = 'WORKING WITH US'; // Se almacenan en la DB en mayusculas por si se necesita indexar el campo mas delante
                obj["text"] = 'Working with us';
                source.push(obj);
                obj["value"] = 'NOT WORKING WITH US';
                obj["text"] = 'Not working with us';
                source.push(obj);

                // IMPORTANTE
                // IMPORTANTE: el codigo de EJS esta entrecomillado para que no despliegue error VS Code, a la hora de mostrarlo funciona como si no estubiera con comillas
                //<%if (hr.length > 0) { %>
                //<%for(var i=0; i<hr.length; i++) {%> 
                
                $('#edit-workingstatus-<%= hr[i].id %>').editable({
                    source: source,
                    value: "<%= hr[i].labor_status %>",
                    success: function(response, newValue) {
                        ///// TODO: Hay que agregar un refresh a la pagina cuando se actualizen siertas cosas, las que se necesite o se pueda
                        if (response.status == 'error') return response.msg; //msg will be shown in editable form
                    }
                });
                //<% }%>
                //<% }%>
            }
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID();
            APP.SERVICE.ADMINISTRATIVE.CHANGE_LABOR_STATUS();
        })(window);
    </script>


</body>
</html>