<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Human Resources</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content">
            <ul class="nav nav-tabs">
                    <li role="presentation"><a href="../administrative/clients">Clients</a></li>
                    <li role="presentation" class="active"><a href="../administrative/hr">Human resources</a></li>
                    <li role="presentation"><a href="../administrative/drivers">Drivers</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Employees</h4>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addHrModal">Add employee</button>
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric" data-formatter="link">#</th>
                                        <th data-column-id="name">Name</th>
                                        <th data-column-id="tel">Telephone</th>
                                        <th data-column-id="licence">License</th>
                                        <th data-column-id="laborstatus" data-formatter="laborstatus">Labor Status</th>
                                    </tr>
                                </thead>
                                <%if (hr.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<hr.length; i++) {%>
                                        <tr class="quote">
                                            <td id=""> <%= hr[i].id %> </td>
                                            <td id=""> <%= hr[i].name %> </td>
                                            <td id=""> <%= hr[i].tel %> </td>
                                            <td id=""> <%= hr[i].license %> </td>
                                            <td id=""> <%= hr[i].labor_status %> </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <p>No hr</p>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<!-- Add HR -->
<div class="modal fade" id="addHrModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add employee</h4>
        </div>
        <form role="form" id="addHrForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="h4 ">Name</label>
                        <input id="name" class="form-control" required></input>
                        <label for="address" class="h4 ">Address</label>
                        <input id="address" class="form-control" required></input>
                        <label for="tel" class="h4 ">Tel</label>
                        <input id="tel" class="form-control" required type="tel"></input>
                        <label for="civilStatus" class="h4 ">Civil status</label>
                        <select id="civilStatus" class="form-control">
                            <option value="SINGLE">Single</option>
                            <option value="MARRIED">Married</option>
                            <option value="DIVORCED">Divorced</option>
                            <option value="SEPARATED">Separated</option>
                            <option value="WIDOWED">Widowed</option>
                        </select>
                        <label for="dependent" class="h4 ">Dependent</label>
                        <input id="dependent" class="form-control" value='0' required type="number"></input>
                        <label for="email" class="h4 ">email</label>
                        <input id="email" class="form-control" required type="email"></input>
                        <label for="contact1" class="h4 ">Emergency contact 1</label>
                        <input id="contacta1" class="form-control" type="tel"></input>
                        <label for="contacta2" class="h4 ">Emergency contact 1</label>
                        <input id="contacta2" class="form-control" type="tel"></input>
                        <label for="birth" class="h4 ">Date bith</label>
                        <input id="birth" class="form-control" required type="date"></input>
                        <label for="over25" class="h4 ">Over 25</label>
                        <select id="over25" class="form-control">
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="laborStatus" class="h4 ">Labor status</label>
                        <select id="laborStatus" class="form-control">
                            <option value="WORKING WITH US">Working with us</option>
                            <option value="NOT WORKING WITH US">Not Working with us</option>
                        </select>
                        <label for="position" class="h4 ">Position</label>
                        <select id="position" class="form-control">
                            <option value="FIELD CREW SUPERVISOR">Field Crew Supervisor</option>
                            <option value="FIELD CREW MANAGER">Field Crew Manager</option>
                            <option value="FIELD CREW OPERATOR">Field Crew Operator</option>
                            <option value="OPERATIONS">Operation</option>
                            <option value="MECHANICS">Mechanics</option>
                            <option value="OFFICE">Office</option>
                        </select>
                        <label for="dllsHr" class="h4 ">Dlls/hr</label>
                        <input id="dllsHr" class="form-control" step='0.01' value='0.00' required type="number"></input>
                        <label for="medicalCard" class="h4 ">Medical card</label>
                        <select id="medicalCard" class="form-control">
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <label for="mcExp" class="h4 ">Medical card expiration date</label>
                        <input id="mcExp" class="form-control" required type="date"></input>
                        <label for="drugTest" class="h4 ">Drug test</label>
                        <select id="drugTest" class="form-control">
                            <option value="YES">Yes</option>
                            <option value="NO">No</option>
                        </select>
                        <label for="dtExp" class="h4 ">Drug test expiration date</label>
                        <input id="dtExp" class="form-control" required type="date"></input>
                        <label for="ssn" class="h4 ">SSN</label>
                        <input id="ssn" class="form-control" required></input>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<!-- HR Detail -->
<div class="modal fade" id="editHrModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Employee detail</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <p>Name <span id="editName"> </span></p>
                    <p>Address <span id="editAddress"> </span></p>
                    <p>Tel <span id="editTel"> </span></p>
                    <p>Civil status <span id="editCivilStatus"> </span></p>
                    <p>Dependent <span id="editDependent"> </span></p>
                    <p>email <span id="editEmail"> </span></p>
                    <p>Emergency contact 1 <span id="editContact1"> </span></p>
                    <p>Emergency contact 1 <span id="editContact2"> </span></p>
                    <p>Date bith <span id="editBrith"> </span></p>
                    <p>Over 25 <span id="editOver25"> </span></p>

                </div>
                <div class="col-md-6">
                    <p>Labor status <span id="editLaborStatus"> </span></p>
                    <p>Position <span id="editPosition"> </span></p>
                    <p>Dlls/hr <span id="editDllsHr"> </span></p>
                    <p>Medical card <span id="editMc"> </span></p>
                    <p>Medical card expiration date <span id="editMcExp"> </span></p>
                    <p>Drug test <span id="editDt"> </span></p>
                    <p>Drug test expiration date <span id="editDtExp"> </span></p>
                    <p>SSN <span id="editSsn"> </span></p>

                </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-success" data-dismiss="modal">Download</button>-->
        </div>
        </div>
    </div>
</div> 

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>


    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.ADMINISTRATIVE = APP.SERVICE.ADMINISTRATIVE || {};

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };
            
            APP.LOAD.GRID = APP.LOAD.GRID || function(){

                var linkFormatter = function(column, row){
                    return "<a href=\"#editHrModal\" data-toggle=\"modal\" data-hr=\"" + row.id +  "\" class=\"text-center black-link show-edit-hr\">" + row.id + "</a>";
                };

                var loadedRsJQueryBootgrid = function(){

                    var onEditHrShow = function(e){
                        $($(this).attr("href")).modal("show", $(this));
                    };

                    $("#grid-basic")
                        .find(".show-edit-hr")
                        .on("click", onEditHrShow);
                };

                $("#grid-basic")
                    .bootgrid({
                        formatters: {
                            "link": linkFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.EVENTS = APP.EVENTS || {
                MODALS_SUBMIT: function(){

                    // Add HR
                    $("#addHrForm").submit(function(event) {

                        event.preventDefault(); // cancels the form submission
                        $.ajax({
                            cache: false,
                            url: '/api/administrative/addhr/',
                            type: 'POST',
                            data: {
                                name: $("#name").val(),
                                address: $("#address").val(),
                                tel: $("#tel").val(),
                                civilStatus: $("#civilStatus").val(),
                                dependent: $("#dependent").val(),
                                email: $("#email").val(),
                                contac1: $("#contacta1").val(),
                                contact2: $("#contacta2").val(),
                                birth: $("#birth").val(),
                                over25: $("#over25").val(),
                                laborStatus: $("#laborStatus").val(),
                                position: $("#position").val(),
                                hllsHr: $("#dllsHr").val(),
                                medicalCard: $("#medicalCard").val(),
                                mcExp: $("#mcExp").val(),
                                drugTest: $("#drugTest").val(),
                                dtExp: $("#dtExp").val(),
                                ssn: $("#ssn").val()
                            },
                            success: function (msj) {
                                alert(msj.message);
                                location.reload(); // Recarga la pagina para ver el cambio
                            },
                            error: function(xhr) {
                                alert('Couldn\'t insert in the database. Try again, please.');
                            },
                        });

                        $('#addSandModal').modal('hide');
                        refreshPage();
                    });
                },
                INIT: function(){
                    APP.EVENTS.MODALS_SUBMIT();
                }
            };
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.GRID();
            APP.EVENTS.INIT();
        })(window);
    </script>

    <script>
        $( document ).ready(function() {
            $('#editHrModal').on('shown.bs.modal', function (e) {

                var $trigger = $(e.relatedTarget);
                
                // Obtiene el detalle del ticket
                $.getJSON('/api/administrative/getHrDetail/' + $trigger.data('hr'), function(data) {
    

                    $('#editName').html(
                        "<strong><a id='updateName' data-pk='" + data.hr[0].id + "' data-title='Update name' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='name'>"+data.hr[0].name+"</a></strong>"    
                    );

                    $('#editAddress').html(
                        "<strong><a id='updateAddress' data-pk='" + data.hr[0].id + "' data-title='Update address' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='address'>"+data.hr[0].address+"</a></strong>"
                    );
                    $('#editTel').html(
                        "<strong><a id='updateTel' data-pk='" + data.hr[0].id + "' data-title='Update tel' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='tel'>"+data.hr[0].tel+"</a></strong>"
                    );
                    $('#editCivilStatus').html(
                        "<strong><a id='updateCivilStatus' data-pk='" + data.hr[0].id + "' data-title='Update civil status' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='civil_status'>"+data.hr[0].civil_status+"</a></strong>"
                    );
                    $('#editDependent').html(
                        "<strong><a id='updateDependent' data-pk='" + data.hr[0].id + "' data-title='Update dependents' "+
                        "data-type='number' class='black-link' "+
                        "href='#' data-name='dependants'>"+data.hr[0].dependants+"</a></strong>"
                    );
                    $('#editEmail').html(
                        "<strong><a id='updateEmail' data-pk='" + data.hr[0].id + "' data-title='Update email' "+
                        "data-type='email' class='black-link' "+
                        "href='#' data-name='email'>"+data.hr[0].email+"</a></strong>"
                    );
                    $('#editContact1').html(
                        "<strong><a id='updateContact1' data-pk='" + data.hr[0].id + "' data-title='Update contact 1' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='contact1'>"+data.hr[0].contact1+"</a></strong>"
                    );
                    $('#editContact2').html(
                        "<strong><a id='updateContact2' data-pk='" + data.hr[0].id + "' data-title='Update contact2' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='contact2'>"+data.hr[0].contact2+"</a></strong>"
                    );
                    $('#editBrith').html(
                        "<strong><a id='updateBrith' data-pk='" + data.hr[0].id + "' data-title='Update birthdate' "+
                        "data-type='date' class='black-link' "+
                        "href='#' data-name='birthdate'>"+data.hr[0].birthdate+"</a></strong>"
                    );
                    $('#editOver25').html(
                        "<strong><a id='updateOver25' data-pk='" + data.hr[0].id + "' data-title='Update over25' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='over25'>"+data.hr[0].over25+"</a></strong>"
                    );
                    $('#editLaborStatus').html(
                        "<strong><a id='updateLaborStatus' data-pk='" + data.hr[0].id + "' data-title='Update labor status' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='labor_status'>"+data.hr[0].labor_status+"</a></strong>"
                    );
                    $('#editPosition').html(
                        "<strong><a id='updatePosition' data-pk='" + data.hr[0].id + "' data-title='Update position' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='position'>"+data.hr[0].position+"</a></strong>"
                    );
                    $('#editDllsHr').html(
                        "<strong><a id='updateDllsHr' data-pk='" + data.hr[0].id + "' data-title='Update dlls/hr' "+
                        "data-type='number' step='0.01' value='0.00' class='black-link' "+
                        "href='#' data-name='rate'>"+data.hr[0].rate+"</a></strong>"
                    );
                    $('#editMc').html(
                        "<strong><a id='updateMc' data-pk='" + data.hr[0].id + "' data-title='Update medical card' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='medical_card'>"+data.hr[0].medical_card+"</a></strong>"
                    );
                    $('#editMcExp').html(
                        "<strong><a id='updateMcExp' data-pk='" + data.hr[0].id + "' data-title='Update medical card expiration date' "+
                        "data-type='date' class='black-link' "+
                        "href='#' data-name='mc_exp'>"+data.hr[0].mc_exp+"</a></strong>"
                    );
                    $('#editDt').html(
                        "<strong><a id='updateDt' data-pk='" + data.hr[0].id + "' data-title='Update drug test' "+
                        "data-type='select' class='black-link' "+
                        "href='#' data-name='drug_test'>"+data.hr[0].drug_test+"</a></strong>"
                    );
                    $('#editDtExp').html(
                        "<strong><a id='updateDtExp' data-pk='" + data.hr[0].id + "' data-title='Update drug test expiration date' "+
                        "data-type='date' class='black-link' "+
                        "href='#' data-name='dt_exp'>"+data.hr[0].dt_exp+"</a></strong>"
                    );
                    $('#editSsn').html(
                        "<strong><a id='updateSsn' data-pk='" + data.hr[0].id + "' data-title='Update ssn' "+
                        "data-type='text' class='black-link' "+
                        "href='#' data-name='ssn'>"+data.hr[0].ssn+"</a></strong>"
                    );
    
                    // x-editable
                    $('#updateName, #updateAddress, #updateTel, #updateDependent, #updateEmail, #updateContact1, #updateContact2, #updateDllsHr, #updateSsn').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                        
                    });

                    $('#updateDllsHr').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        step: 'any', // <-- added this line
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        }
                    });
                    

                    $('#updateCivilStatus').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "SINGLE", text: 'Single'},
                            {value: "MARRIED", text: 'Maried'},
                            {value: "DIVORCED", text: 'Divorced'},
                            {value: "SEPARATED", text: 'Separated'},
                            {value: "WIDOWED", text: 'Widowed'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateOver25, #updateMc, #updateDt').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "YES", text: 'Yes'},
                            {value: "NO", text: 'No'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateBrith, #updateMcExp, #updateDtExp').editable({
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        format: 'yyyy-mm-dd',    
                        viewformat: 'yyyy-mm-dd',    
                        datepicker: {
                                weekStart: 1
                        },
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updateLaborStatus').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "WORKING WITH US", text: 'Working with us'},
                            {value: "NOT WORKING WITH US", text: 'Not working with us'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });

                    $('#updatePosition').editable({   
                        url: '/api/administrative/updatehr/',
                        send: 'always',
                        source: [
                            {value: "FIELD CREW SUPERVISOR", text: 'Field crew supervisor'},
                            {value: "FIELD CREW MANAGER", text: 'Field crew manager'},
                            {value: "FIELD CREW OPERATOR", text: 'Field crew operator'},
                            {value: "OPERATIONS", text: 'Operations'},
                            {value: "MECHANICS", text: 'Mechanic'},
                            {value: "OFFICE", text: 'Office'}
                        ],
                        success: function(response, newValue) {
                            if (response.status == 'error') 
                                return response.msg; //msg will be shown in editable form
                        },
                    });
                });

            })
            
            // Recarga la pagina para que se vean los cambios
            $('#editHrModal').on('hide.bs.modal', function (e) {
                location.reload();
            });
        });
        </script>


</body>
</html>
