<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Inicio</title>
</head>

<body>

        <%include ../partials/navbar %>
        
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <%include ../partials/sidebar %>
    
                <!-- Page Content Holder -->
                <div id="content">
                    <%include ../partials/up %>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">To be Asigned</h3>
                                    <h1>
                                        <span id="one"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 1) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Work in progress</h3>
                                    <h1>
                                        <span id="two"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 2) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Completed</h3>
                                    <h1>
                                        <span id="three"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 3) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">To be invoiced</h3>
                                    <h1>
                                        <span id="four"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 4) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">To be Payrolled</h3>
                                    <h1>
                                        <span id="five"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 5) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">To be Paid</h3>
                                    <h1>
                                        <span id="six"></span> <small>TMS</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 6) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No TMS for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>

                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>

            Only for tests: 
            <button id="myDiv" type="button" class="btn">Basic</button>
            <button id="up" type="button" class="btn">active</button>
            <button id="down" type="button" class="btn">inactive</button>
            <button id="tms" type="button" class="btn">tms</button>
    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>
    
    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

    
<script src="/socket.io/socket.io.js"></script> 

<script>

    var defaultSocket = io('/dispatcher');
    defaultSocket.on('connected', function(data){
        //console.log(data);
    });

    

    defaultSocket.on('accounts', function(data){
        //console.log(data);
    });

    

    //var socket = io.connect('localhost:3000');
    var socket = io.connect('http://159.65.98.225:3000');

    socket.on('message', function(message) {
        console.log('el server esta vivo ' + message);
    })

    $('#myDiv').click(function(){
        //defaultSocket.emit('accounts', "hola");
        socket.emit('accounts', "hola");
        socket.emit('assets', "hola");
        socket.emit('selected-asset', '{"id": 9, "truck": "toca 1", "trailer": "trailer 2" }');
    });

    $('#up').click(function(){
        socket.emit('active', '{"id": 1, "active": true }');
    });

    $('#down').click(function(){
        socket.emit('inactive', '{"id": 1, "active": false }');
    });

    $('#tms').click(function(){
        socket.emit('tms', '1');
    });

    socket.on('accounts', function(data){
        console.log("accounts ", data);
    });

    socket.on('assets', function(data){
        console.log("assets ", data);
    });

    socket.on('selected-asset', function(data){
        console.log("selected-asset ", data);
    });

    socket.on('active', function(data){
        console.log("assets ", data);
    });

    socket.on('inactive', function(data){
        console.log("assets ", data);
    });

    socket.on('tms', function(data){
        console.log(data);
    });

    



</script>


    <!--
        Obtiene los drivers, trucks and trailers que estan disponibles
    -->
    <script type="text/javascript">
        function callEndpoint() {
            $.getJSON('/api/dispatcher/getUps', function(data) {

                $('#trailersUp').append(data.trailersUp);
                $('#trucksUp').append(data.trucksUp);
                $('#driversUp').append(data.driversUp);

            });
        }

        function callEndpointTMSCounter() {
            $.getJSON('/api/dispatcher/gettmscounter', function(data) {

                $('#one').html(data[0].one);
                $('#two').html(data[0].two);
                $('#three').html(data[0].three);
                $('#four').html(data[0].four);
                $('#five').html(data[0].five);
                $('#six').html(data[0].six);

            });
        }
        callEndpoint();
        callEndpointTMSCounter();
    </script>



</body>
</html>