<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Cedar - Home</title>
   <%include ../partials/js %>
</head>

<body>

        <%include ../partials/navbar %>
        
        <div class="wrapper">
                <!-- Sidebar Holder -->
                <%include ../partials/sidebar %>
    
                <!-- Page Content Holder -->
                <div id="content">
                    <%include ../partials/up %>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">To be Assigned</h3>
                                    <h1>
                                        <span id="one"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 1) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Work in progress</h3>
                                    <h1>
                                        <span id="two"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 2) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Completed</h3>
                                    <h1>
                                        <span id="three"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 3) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Invoice</h3>
                                    <h1>
                                        <span id="four"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 4 && tickets[i].invoice_date == null) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Payroll</h3>
                                    <h1>
                                        <span id="five"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 4 && tickets[i].payrolled_date == null) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Paid</h3>
                                    <h1>
                                        <span id="six"></span> <small>Loads</small>
                                    </h1>
                                </div>
                                <div class="panel-body">
                                    <%if (tickets.length > 0) { %>
                                        <% for(var i=0; i<tickets.length; i++) {%>
                                            <%if (tickets[i].status == 5) { %>
                                                <a href="#myModal" data-toggle="modal" data-ticket="<%= tickets[i].id %>" class="text-center"><p><%= tickets[i].tms %></p></a>
                                            <% } %>
                                        <% } %>
                                    <% } else{ %>  
                                        <p class="alert alert-warning">No Loads for category</p>
                                    <% } %>
                                </div>    
                            </div>
                        </div>

                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            
            <!--Only for tests: 
            <button id="myDiv" type="button" class="btn">Basic</button>
            <button id="up" type="button" class="btn">active</button>
            <button id="down" type="button" class="btn">inactive</button>
            <button id="tms" type="button" class="btn">tms</button>
            <button id="status0" type="button" class="btn">status 0</button>
            <button id="status1" type="button" class="btn">status 1</button>
            <button id="status2" type="button" class="btn">status 2</button>
            <button id="status3" type="button" class="btn">status 3</button>
            <button id="status4" type="button" class="btn">status 4</button>
            <button id="status5" type="button" class="btn">status 5</button>
            <button id="status6" type="button" class="btn">status 6</button>
            <button id="status7" type="button" class="btn">status 7</button>
            <button id="selected-asset" type="button" class="btn">select asset</button>
            <button id="accounts-clockin" type="button" class="btn">accounts Clockin</button>
            <button id="selected-crew" type="button" class="btn">selected Crew</button>
            <button id="clockin-event" type="button" class="btn">clockin Event</button>-->
            
    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    
    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>

<script src="/socket.io/socket.io.js"></script> 

<script>
    function socketAware(){
        var defaultSocket = io('/dispatcher');
        defaultSocket.on('connected', function(data){
            //console.log(data);
        });

        defaultSocket.on('accounts', function(data){
            //console.log(data);
        });

        var socket = io.connect('localhost:3000');
        //var socket = io.connect('http://159.89.129.132:3000');

        socket.on('message', function(message) {
            console.log('el server esta vivo ' + message);
        })

        $('#myDiv').click(function(){
            //defaultSocket.emit('accounts', "hola");
            socket.emit('accounts', "hola");
            socket.emit('assets', "hola");
            socket.emit('selected-asset', '{"id": 9, "truck": "toca 1", "trailer": "trailer 2" }');
        });

        /*
        
        
        * */
        // Acepted
        $('#status0').click(function(){
            socket.emit('status', '{"id":8,"substatus":0,"latitude":28.6372902,"longitude":-106.0974389}');
        });
        // On my way to facility
        $('#status1').click(function(){
            socket.emit('status', '{"id":8,"substatus":1,"latitude":28.6372902,"longitude":-106.0974389}');
        });
        // On facility
        $('#status2').click(function(){
            socket.emit('status', '{"id":8,"substatus":2,"latitude":28.6372902,"longitude":-106.0974389}');
        });
        // Loading
        $('#status3').click(function(){
            socket.emit('status', '{"id":8,"substatus":3,"latitude":28.6372902,"longitude":-106.0974389,"weight":100000,"bol":"36"}');
        });
        // On my way to location
        $('#status4').click(function(){
            socket.emit('status', '{"id":8,"substatus":4,"latitude":28.6372902,"longitude":-106.0974389}');
        });
        // On location
        $('#status5').click(function(){
            socket.emit('status', '{"id":8,"substatus":5,"latitude":28.6372902,"longitude":-106.0974389}');
        });
        // Unloading
        $('#status6').click(function(){
            socket.emit('status', '{"id":8,"substatus":6,"latitude":28.6372902,"longitude":-106.0974389,"base":"2","silo":"4"}');
        });
        //Finished
        $('#status7').click(function(){
            socket.emit('status', '{"id":8,"substatus":7,"latitude":28.6372902,"longitude":-106.0974389}');
        });

        $('#up').click(function(){
            socket.emit('active', '{"id": 1, "active": true }');
        });

        $('#down').click(function(){
            socket.emit('inactive', '{"id": 1, "active": false }');
        });

        $('#tms').click(function(){
            socket.emit('tms', '6');
        });

        socket.on('accounts', function(data){
            console.log("accounts ", data);
        });

        socket.on('assets', function(data){
            console.log("assets ", data);
        });

        socket.on('selected-asset', function(data){
            console.log("selected-asset ", data);
        });

        socket.on('active', function(data){
            console.log("assets ", data);
        });

        socket.on('inactive', function(data){
            console.log("assets ", data);
        });

        socket.on('tms', function(data){
            console.log(data);
        });

        socket.on('status', function(data){
            console.log(data);
        });

        $('#accounts-clockin').click(function(){
            socket.emit('accountsclockin', '');
        });
        $('#selected-crew').click(function(){
            socket.emit('selectedcrew', '1');
        });
        $('#clockin-event').click(function(){
            socket.emit('clockinevent', '{"uuid": "xyz", "in": true, "out": false, "date":"2018-04-18 16:45:00", "lat": "+123", "long": "-123", "img":"zyx123"}');
        });

        socket.on('accountsclockin', function(data){
            console.log(data);
        });

        socket.on('selectedcrew', function(data){
            console.log(data);
        });

        socket.on('clockinevent', function(data){
            console.log(data);
        });
    }

    function callEndpoint() {
        $.getJSON('/api/dispatcher/getUps', function(data) {

            $('#trailersUp').append(data.trailersUp);
            $('#trucksUp').append(data.trucksUp);
            $('#driversUp').append(data.driversUp);

        });
    }

    function callEndpointTMSCounter() {
        $.getJSON('/api/dispatcher/gettmscounter', function(data) {

            $('#one').html(data[0].one);
            $('#two').html(data[0].two);
            $('#three').html(data[0].three);
            $('#four').html(data[0].four);
            $('#five').html(data[0].five);
            $('#six').html(data[0].six);

        });
    }

    function sideBarClickAware(){
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    }

    window.addEventListener('load', function(){
        socketAware();
        callEndpoint();
        callEndpointTMSCounter();
        sideBarClickAware();
    });
</script>


    



</body>
</html>