<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>To be assigned</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
        <!-- Sidebar Holder -->
        <%include ../partials/sidebar %>

        <!-- Page Content Holder -->
        <div id="content">
            <%include ../partials/up %>
            <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="tobeassigned#">To be Asigned</a></li>
                    <li role="presentation"><a href="workinprogress">Work in progress</a></li>
                    <li role="presentation"><a href="completed">Completed</a></li>
            </ul>
            <div class="tab-content"> 
                <div class="content">
                    
                    <div class="row">
                        <br/>
                        <div class="col-md-6">
                            <p>Import Jobs 
                                <button id="btn_load_csv" data-toggle="modal" href="#dv_csv_load" type="button" class="btn btn-default" aria-label="Left Align">
                                    csv.
                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                </button>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>Manual input
                                <button type="button" class="btn btn-default" aria-label="Left Align"  data-toggle="modal" data-target=".manual-input-modal">
                                    Manual
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                            </p>
                        </div>
                        <!--<div class="col-md-6">
                            <form class="form-inline" id="find-ticket">
                                <div class="form-group">
                                    <label for="exampleInputName2">Find a ticket:</label>
                                    <input type="text" class="form-control" id="ticket-number" placeholder="#">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>-->
                    </div>

                    <div class="row">
                        <br/>
                        
                        <!--<div class="col-md-6">
                            <form class="form-inline" id="find-ticket">
                                <div class="form-group">
                                    <label for="exampleInputName2">Find a TMS: </label>
                                    <input type="text" class="form-control" id="tms-number" placeholder="#">
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>-->
                    </div>

                    <br/>
                    <div class="row">
                        <div class="col-md-12">
                            <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" >
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-formatter="link" data-type="numeric">#</th>
                                        <th data-column-id="tms" data-type="numeric">TMS</th>
                                        <th data-column-id="location">Location</th>
                                        <th data-column-id="facility">Facility</th>
                                        <th data-column-id="drivers"  data-formatter="drivers">Driver</th>
                                        <th data-column-id="products" data-formatter="products">Product</th>
                                        <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                    </tr>
                                </thead>
                                <%if (tickets.length > 0) { %>
                                <tbody>
                                    <% for(var i=0; i<tickets.length; i++) {%>
                                        <%if (tickets[i].status == 1) { %> <!-- status:1 = to be asigned -->
                                        <tr class="quote">
                                            <td id="">
                                                <%= tickets[i].id %>
                                            </td>
                                            <td id="">
                                                <%= tickets[i].tms %>
                                            </td>
                                            <td id="">
                                                <%= tickets[i].location %>
                                            </td>
                                            <td id="">
                                                <%= tickets[i].facility %>
                                            </td>
                                            <td id="">
                                                
                                            </td>
                                            <td id="">

                                            </td>
                                            <td id="">
                                                <button type="submit" class="btn btn-default"> Assign</button>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                                <% } else{ %>  
                                    <tbody>
                                        <p>No tickets in this category</p>
                                    </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="dv_csv_load" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Select CSV file</h4>
                </div>
                <div class="modal-body">
                    <form id="frm_csv">
                        <label class="btn btn-primary" for="fl_csv">
                            <input id="fl_csv" type="file" style="display:none"/>
                            <span id="sp_fl_csv">Search file</span>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>

    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>


    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        (function(APP){
            APP.SERVICE = APP.SERVICE || {};

            APP.SERVICE.DISPATCHER = APP.SERVICE.DISPATCHER || {};
            
            APP.SERVICE.DISPATCHER.GET_UPS = APP.SERVICE.DISPATCHER.GET_UPS || function(){
                $.ajax({
                    cache: false,
                    method: 'GET',
                    url: '/api/dispatcher/getUps',
                    success: function(data){
                        $('#trailersUp').html(data.trailersUp);
                        $('#trucksUp').html(data.trucksUp);
                        $('#driversUp').html(data.driversUp);
                    },
                    error: function(e){
                        console.error(e);
                        alert('Couldn\'t load data for trailers up, drivers up, and trucks up.');
                    }
                });
            };

            APP.SERVICE.DISPATCHER.ASSIGN_TICKET = APP.SERVICE.DISPATCHER.ASSIGN_TICKET || function(){
                $.ajax({
                    cache: false,
                    url: '/api/dispatcher/assignTicket/',
                    type: 'PUT',
                    data: {
                        ticketId: $(this).data("row-id"),
                        hrId: $("#driverSelect").val(),
                        product: $("#productsSelect").val()
                    },
                    success: function (msj) {
                        alert(msj.message);
                        location.reload();
                    },
                    error: function(xhr) {
                        alert('Couldn\'t assign ticket. Try again, please.');
                    },
                });
            };

            APP.SERVICE.DISPATCHER.GET_TICKET_DETAIL = APP.SERVICE.DISPATCHER.GET_TICKET_DETAIL || function(ticketId){
                var url = "/api/dispatcher/getTicketDetail/" + ticketId;
                $.ajax({
                    cache: false,
                    method: 'GET',
                    url: url,
                    dataType: 'application/json',
                    success: function(data){
                        $('#trailersUp').html(data.trailersUp);
                        $('#trucksUp').html(data.trucksUp);
                        $('#driversUp').html(data.driversUp);
                    },
                    error: function(err){
                        console.error(err);
                        alert('Couldn\'t load data for ticket ' + ticketId);
                    }
                });
            };

            APP.SERVICE.TICKETS = {};

            APP.SERVICE.TICKETS.UPLOAD_CSV = APP.SERVICE.TICKETS.UPLOAD_CSV || function(file){
                $.ajax({
                    method: 'POST',
                    url: '/api/tickets/upload/csv',
                    dataType: 'application/json',
                    data: {
                        file: file
                    },
                    success: function(data){
                        alert(data.message);
                    },
                    error: function(){
                        alert('Error when uploading file, try again.');
                    }
                });
            }

            APP.LOAD = APP.LOAD || {};

            //page load functionality first!
            APP.LOAD.SIDE_BAR = APP.LOAD.SIDE_BAR || function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            };

            //Obtiene los drivers, trucks and trailers que estan disponibles
            APP.LOAD.UPS = APP.LOAD.UPS || function(){
                APP.SERVICE.DISPATCHER.GET_UPS();
            };

            APP.LOAD.GRID = APP.LOAD.GRID || function(){
                var linkFormatter = function(column, row){
                    return "<a href=\"#myModal\" data-toggle=\"modal\" data-ticket=\"" + row.id +  "\" class=\"text-center black-link show-ticket\">" + row.id + "</a>";
                };

                var commandsFormatter = function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-md btn-default command-edit\" data-row-id=\"" + row.id + "\">Assign</button> "
                };

                var driversFormatter = function(colum, row){
                    return "<%if (drivers.length > 0) { %> " +
                                "<div class='form-group'> " +
                                    "<select class='form-control' id='driverSelect'>" +
                                        "<% for(var x=0; x<drivers.length; x++) {%>" +
                                        "<option value = '<%= drivers[x].id %>'><%= drivers[x].name %></option> " +
                                        "<% } %>" +
                                    "</select>" +
                                "</div>" +
                            "<% } else{ %> "+
                                "No drivers available" +
                            "<% } %>";
                };

                var productsFormatter = function(colum, row){
                    return  "<%if (products.length > 0) { %> " +
                                "<div class='form-group'> " +
                                    "<select class='form-control' id='productsSelect'>" +
                                        "<% for(var x=0; x<products.length; x++) {%>" +
                                        "<option value = '<%= products[x].id %>'><%= products[x].name %></option> " +
                                        "<% } %>" +
                                    "</select>" +
                                "</div>" +
                            "<% } else{ %> "+
                                "No products available" +
                            "<% } %>";
                };

                var loadedRsJQueryBootgrid = function(){
                    /* Executes after data is loaded and rendered */
                    var onClickEdit = function(e){
                        APP.SERVICE.DISPATCHER.ASSIGN_TICKET();
                    };

                    var onClickShow = function(e){
                        $($(this).attr("href")).modal("show", $(this));
                    };

                    $("#grid-basic")
                        .find(".command-edit")
                        .on("click", onClickEdit)
                        .end()
                        .find(".show-ticket")
                        .on("click", onClickShow);
                };

                $("#grid-basic")
                    .bootgrid({
                        labels: {
                            search: "Search (TMS, Ticket, etc)"
                        },
                        formatters: {
                            "link": linkFormatter,
                            "commands": commandsFormatter,
                            "drivers" : driversFormatter,
                            "products" : productsFormatter
                        }
                    })
                    .on("loaded.rs.jquery.bootgrid", loadedRsJQueryBootgrid);
            };

            APP.EVENTS = APP.EVENTS || {
                PINCHE_BOTON: function(){
                    var infoModal = $('#ticketModal');
                    $('#PincheBoton').on('click', function(){
                        APP.SERVICE.DISPATCHER.GET_TICKET_DETAIL(8);
                    });
                },
                FRM_CSV: function(){
                    $('#frm_csv').on('submit', function(evt){
                        evt.preventDefault();
                        return false;
                    });
                },
                FL_CSV: function(){
                    $('label').on('click', function(evt){
                        if($(this).attr('disabled') == 'disabled'){
                            evt.preventDefault();
                            return false;
                        }
                    });

                    $('#fl_csv').on('change', function(){
                        var filename = $(this).val();

                        if(confirm('Are you sure you want to upload the file ' + filename + '?')){
                            $('#sp_fl_csv')
                                .parent()
                                .attr('disabled', 'disabled');

                            $('#sp_fl_csv')
                                .text('Uploading file...');

                            var fileReader = new FileReader();

                            fileReader.onerror = function(err){
                                alert('Error when loading file. Please try again.');
                                $('#sp_fl_csv')
                                    .parent()
                                    .removeAttr('disabled');

                                $('#sp_fl_csv')
                                    .text('Search file');
                            };

                            fileReader.onload = function(evt){
                                APP.SERVICE.TICKETS.UPLOAD_CSV(evt.target.result);
                            };

                            fileReader.readAsDataURL($('#fl_csv')[0].files[0]);
                        }

                    });
                },
                INIT: function(){
                    APP.EVENTS.PINCHE_BOTON();
                    APP.EVENTS.FRM_CSV();
                    APP.EVENTS.FL_CSV();
                }
            };
            
            APP.LOAD.SIDE_BAR();
            APP.LOAD.UPS();
            APP.LOAD.GRID();
            APP.EVENTS.INIT();
        })(window);
    </script>


</body>
</html>