<!DOCTYPE html>

<html lang="en">
<head>
   <%include ../partials/head %>
   <title>Work in progress</title>
</head>

<body>

<%include ../partials/navbar %>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <%include ../partials/sidebar %>

    <!-- Page Content Holder -->
    <div id="content" class="main-content">
        <%include ../partials/up %>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="../dispatcher/tobeassigned">To be Assigned</a></li>
            <li role="presentation" class="active"><a href="../dispatcher/workinprogress">Work in progress</a></li>
            <li role="presentation"><a href="../dispatcher/completed">Completed</a></li>
        </ul>
        <div class="tab-content"> 
            <div class="content">

                <div class="row">
                    <div class="col-md-12">
                        <table id='grid-basic' border="1" class="table table-bordered table-condensed table-hover table-striped" id=''>
                            <thead>
                                <tr>
                                    <th data-column-id="id" data-type="numeric" data-width="10%">Ticket No.</th>
                                    <th data-column-id="tms" data-formatter="link" data-type="numeric">Load</th>
                                    <th data-column-id="location"  data-width="25%">Location</th>
                                    <th data-column-id="facility">Facility</th>
                                    <th data-column-id="drivers"  data-formatter="drivers">Driver</th>
                                    <th data-column-id="products" data-formatter="products">Product</th>
                                    <th data-column-id="status">Status</th> <!-- Substatus en la DB (on my way to facility, etc) -->
                                    <th data-column-id="options" data-formatter="commands" data-sortable="false">Options</th>
                                </tr>
                            </thead>
                            <%if (tickets.length > 0) { %>
                            <tbody>
                            <% for(var i=0; i<tickets.length; i++) {%>
                                <%if (tickets[i].status == 2) { %> <!-- status:2 = work in progress -->
                                <tr class="quote">
                                    <td id="">
                                        <%= tickets[i].id %>
                                    </td>
                                    <td id="">
                                        <%= tickets[i].tms %>
                                    </td>
                                    <td id="">
                                        <%= tickets[i].location %>
                                    </td>
                                    <td id="">
                                        <%= tickets[i].facility %>
                                    </td>
                                    <td id="">
                                        <%= tickets[i].driver_name %>
                                    </td>
                                    <td id="">
                                        <%= tickets[i].product %>
                                    </td>
                                    <td id="">
                                        <%if (tickets[i].substatus == 0) { %>
                                            ASSIGNED
                                        <% } else if(tickets[i].substatus == 1) { %>
                                            ON MY WAY TO FACILITY
                                        <% } else if(tickets[i].substatus == 2) { %>
                                            ARRIVED TO FACILITY
                                        <% } else if(tickets[i].substatus == 3) { %>
                                            LOADING
                                        <% } else if(tickets[i].substatus == 4) { %>
                                            ON MY WAY TO LOCATION
                                        <% } else if(tickets[i].substatus == 5) { %>
                                            ARRIVED TO LOCATION
                                        <% } else if(tickets[i].substatus == 6) { %>
                                            UNLOADING
                                        <% } else if(tickets[i].substatus == 7) { %>
                                            FINISHED
                                        <% } %>
                                    </td>
                                    <td id="">

                                    </td>
                                </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                        <% } else{ %>  
                            <tbody>
                                <p>No tickets in this category</p>
                            </tbody>
                        <% } %>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    <%include ../partials/manual-input-modal %>
    
    <!-- Taken from Bootstrap's documentation -->
    <div class="modal fade" id="ticketDetail">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    <!-- <script src="/socket.io/socket.io.js"></script>  -->
    <%include ../partials/js %>

    <!-- Ticket detail modal  -->
    <%include ../partials/ticket-detail %>

    <script>
        //var socket = io.connect('http://localhost:3000');
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--
        Obtiene los drivers, trucks and trailers que estan disponibles
    -->
    <script type="text/javascript">
        function callEndpoint() {
            $.getJSON('/api/dispatcher/getUps', function(data) {

                $('#trailersUp').html(data.trailersUp);
                $('#trucksUp').html(data.trucksUp);
                $('#driversUp').html(data.driversUp);

            });
        }
        callEndpoint();
    </script>

    <!--
        Inicializa el bootgrid y sus opciones, TODO: ver si se puede alimentar esto desde un endpoint
    -->
    <script>
        var grid = $("#grid-basic").bootgrid({
            caseSensitive: false,
            formatters: {
                "link": function(column, row)
                {
                    return "<a href=\"#myModal\" data-toggle=\"modal\" data-ticket=\"" + row.id +  "\" class=\"text-center black-link show-ticket\">" + row.tms + "</a>";
                },
                "commands": function(column, row)
                {
                    return "<button type=\"button\" class=\"btn btn-md btn-default command-edit\" data-row-id=\"" + row.id + "\">Cancel</button> "
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function()
        {
            
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e)
            {
                //
                // Cancel ticket logic
                //
                $.ajax({
                    url: '/api/dispatcher/cancelTicket/',    //Your api url
                    type: 'PUT',   //type is any HTTP method
                    data: {
                            ticketId: $(this).data("row-id")

                    },      //Data as js object
                    success: function (msj) {
                        alert(msj.message);
                        location.reload();
                    },
                    error: function(xhr) { // if error occured
                        alert("Error occured. please try again");
                    },
                })

            }).end().find(".show-ticket").on("click", function(e) {
                $($(this).attr("href")).modal("show", $(this));
            });
        });

        $('li[id="li_sdbr_dispatch"]').addClass('active');
    </script>


</body>
</html>
